<?xml version="1.0"?>
<plugin
   name = "DataStore Miners Plugin"
   id = "com.ibm.dstore.miners"
   version = "0.5.0"
   vendor-name = "International Business Machines Corp.">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ibm.dstore.core"/>
      <import plugin="com.ibm.dstore.extra"/>
   </requires>

   <runtime>
    <library name=".">
       	<export name="*" />      
     </library> 
    <library name="dstore_miners.jar">
       	<export name="*" />      
     </library> 
   </runtime>

</plugin>







