<?xml version="1.0"?>
<plugin
   name = "DataStore Miners Plugin"
   id = "com.ibm.dstore.miners"
   version = "1.2.1"
   vendor-name = "IBM">

   <requires>
      <import plugin="com.ibm.dstore.core"/>
   </requires>

   <runtime>
    <library name=".">
       	<export name="*" />      
     </library> 
   </runtime>

</plugin>







