<?xml version="1.0"?>

<!-- ============================================================	-->
<!-- This plugin provides help for the com.ibm.debug plugin.	-->
<!-- (c) Copyright IBM Corp. 2000, 2001. All Rights Reserved.	-->
<!-- ============================================================	-->

<plugin 
   name = "C/C++ Debugger Help"
   id = "com.ibm.debug.doc.user"
   version = "0.5.0"
   provider-name = "International Business Machines Corp.">

<!-- ============================================================================= -->
<!-- Define info set, its views, and the top level topics for each view            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.contributions"> 
      <infoset name="infoset_CPPDebug.xml"/>  
      <actions name= "standaloneActions.xml" /> 
      <topics name="navTopics.xml"/> 
      <actions name="navActions.xml" />
   </extension>

<!-- ============================================================================= -->
<!-- F1 context files                                                              -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.contexts"> 
      <contexts name="contexts_CPPDebug.xml" plugin="com.ibm.debug"/> 
   </extension>

</plugin>