<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.ibm.debug.pdt"
   name="%PluginName"
   version="2.0.0"
   provider-name="%Provider"
   class="com.ibm.debug.internal.pdt.PICLDebugPlugin">

   <runtime>
      <library name="ibmdebug.jar">
         <export name="*"/>
      </library>
      <library name="epdc.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="com.ibm.debug.daemon"/>
      <import plugin="com.ibm.lpex"/>
   </requires>


<!-- Presentation services -->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.ibm.debug.internal.pdt.PDTModelPresentation"
            id="com.ibm.debug.pdt">
      </debugModelPresentation>
   </extension>
<!-- Breakpoint types -->
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLBreakpoint"
            id="PICLBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLEventBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLEventBreakpoint"
            id="PICLEventBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLLocationBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLLocationBreakpoint"
            id="PICLLocationBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLLineBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLLineBreakpoint"
            id="PICLLineBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLEntryBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLEntryBreakpoint"
            id="PICLEntryBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLAddressBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLAddressBreakpoint"
            id="PICLAddressBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLWatchBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLWatchBreakpoint"
            id="PICLWatchBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="com.ibm.debug.pdt.PICLLoadBreakpoint"
            class="com.ibm.debug.pdt.breakpoints.PICLLoadBreakpoint"
            id="PICLLoadBreakpoint">
      </breakpoint>
   </extension>
<!-- This base breakpoint marker defines attributes common to all of the PICL breakpoint markers -->
   <extension
         id="PICLBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <attribute
            name="editable">
      </attribute>
      <attribute
            name="thread">
      </attribute>
      <attribute
            name="everyValue">
      </attribute>
      <attribute
            name="toValue">
      </attribute>
      <attribute
            name="fromValue">
      </attribute>
      <attribute
            name="error">
      </attribute>
      <attribute
            name="errorMsgText">
      </attribute>
      <attribute
            name="errorAttribute">
      </attribute>
      <attribute
            name="installCount">
      </attribute>
      <attribute
            name="engineID">
      </attribute>
   </extension>
   <extension
         id="PICLLocationBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLBreakpoint">
      </super>
      <attribute
            name="moduleName">
      </attribute>
      <attribute
            name="objectName">
      </attribute>
      <attribute
            name="sourceFileName">
      </attribute>
      <attribute
            name="conditionalExpression">
      </attribute>
      <attribute
            name="deferred">
      </attribute>
   </extension>
   <extension
         id="PICLEventBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLBreakpoint">
      </super>
   </extension>
<!-- The following are specialized breakpoint markers -->
   <extension
         id="PICLLineBreakpoint"
         name="%PICLLineBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLLocationBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="PICLEntryBreakpoint"
         name="%PICLEntryBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLLocationBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="functionName">
      </attribute>
      <attribute
            name="caseSensitive">
      </attribute>
   </extension>
   <extension
         id="PICLAddressBreakpoint"
         name="%PICLAddressBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLLocationBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="addressExpression">
      </attribute>
   </extension>
   <extension
         id="PICLWatchBreakpoint"
         name="%PICLWatchBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLEventBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="numBytesMonitored">
      </attribute>
      <attribute
            name="addressExpression">
      </attribute>
   </extension>
   <extension
         id="PICLLoadBreakpoint"
         name="%PICLLoadBreakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.ibm.debug.pdt.PICLEventBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="moduleName">
      </attribute>
   </extension>
<!-- Create views -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%RegistersView.title"
            icon="icons/full/cview16/register_view.gif"
            helpContextId="register_view"
            category="org.eclipse.debug.ui"
            class="com.ibm.debug.internal.pdt.ui.views.RegisterView"
            id="com.ibm.debug.pdt.ui.RegisterView">
      </view>
      <view
            name="%MonitorView.title"
            icon="icons/full/cview16/monitor_view.gif"
            helpContextId="monitor_view"
            category="org.eclipse.debug.ui"
            class="com.ibm.debug.internal.pdt.ui.views.MonitorView"
            id="com.ibm.debug.pdt.ui.MonitorView">
      </view>
      <view
            name="%StorageView.title"
            icon="icons/full/cview16/storage_view.gif"
            helpContextId="storage_view"
            category="org.eclipse.debug.ui"
            class="com.ibm.debug.internal.pdt.ui.views.StorageView"
            id="com.ibm.debug.pdt.ui.StorageView">
      </view>
      <view
            name="%StorageMapView.title"
            icon="icons/full/cview16/storage_view.gif"
            helpContextId="storage_view"
            category="org.eclipse.debug.ui"
            class="com.ibm.debug.internal.pdt.ui.views.StorageMapView"
            id="com.ibm.debug.pdt.ui.StorageMapView">
      </view>
      <view
            name="%GdbView.title"
            icon="icons/full/cview16/gdbView.gif"
            category="org.eclipse.debug.ui"
            class="com.ibm.debug.internal.pdt.ui.views.GdbView"
            id="com.ibm.debug.pdt.ui.GdbView">
      </view>
      <view
            name="%ModulesView.title"
            icon="icons/full/cview16/modules_view.gif"
            category="org.eclipse.debug.ui"
            class="com.ibm.debug.internal.pdt.ui.views.ModulesView"
            id="com.ibm.debug.pdt.ui.ModulesView">
      </view>
   </extension>
<!-- Stack views on top of the Breakpoint view -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.BreakpointView"
               relationship="stack"
               id="com.ibm.debug.pdt.ui.RegisterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.BreakpointView"
               relationship="stack"
               id="com.ibm.debug.pdt.ui.StorageView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.BreakpointView"
               relationship="stack"
               id="com.ibm.debug.pdt.ui.StorageMapView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.BreakpointView"
               relationship="stack"
               id="com.ibm.debug.pdt.ui.MonitorView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.BreakpointView"
               relationship="stack"
               id="com.ibm.debug.pdt.ui.ModulesView">
         </view>
      </perspectiveExtension>
   </extension>
<!-- Toolbar additions -->
   <extension
         point="org.eclipse.ui.viewActions">
<!-- Toolbar items for Register view -->
      <viewContribution
            targetID="com.ibm.debug.pdt.ui.RegisterView"
            id="com.ibm.debug.pdt.ui.actions.RegisterToolbarActions">
         <action
               label="%CollapseAllAction.label"
               icon="icons/full/clcl16/collapseall_tsk.gif"
               tooltip="%CollapseAllAction.tooltip"
               class="com.ibm.debug.internal.pdt.ui.actions.CollapseAllAction"
               toolbarPath="emptyRegisterGroup"
               enablesFor="*"
               id="com.ibm.debug.pdt.ui.CollapseAllAction">
         </action>
         <action
               label="%ExpandAllAction.label"
               icon="icons/full/clcl16/expandall_tsk.gif"
               tooltip="%ExpandAllAction.tooltip"
               class="com.ibm.debug.internal.pdt.ui.actions.ExpandAllAction"
               toolbarPath="emptyRegisterGroup"
               enablesFor="*"
               id="com.ibm.debug.pdt.ui.ExpandAllAction">
         </action>
      </viewContribution>
<!-- Add Compiled Exception button to same group as JDT button -->
      <viewContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="com.ibm.debug.internal.pdt.ui.BreakpointViewButtons">
         <action
               label="%AddCompiledException.label"
               icon="icons/full/clcl16/addcompiledexception_tsk.gif"
               tooltip="%AddExceptionButton.tooltip"
               class="com.ibm.debug.internal.pdt.ui.actions.AddExceptionAction"
               toolbarPath="javaExceptions"
               enablesFor="*"
               id="com.ibm.debug.pdt.ui.actions.AddExceptionAction">
         </action>
      </viewContribution>
<!-- Add "Set Preferred View" menu button to Debug View -->
      <viewContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="com.ibm.debug.DebugViewToolbarActions">
         <action
               label="%SetPreferredView.label"
               tooltip="%SetPreferredView.tooltip"
               class="com.ibm.debug.internal.pdt.ui.actions.SetPreferredViewAction"
               menubarPath="PreferredView"
               enablesFor="0"
               id="com.ibm.debug.pdt.ui.actions.SetPreferredView">
         </action>
      </viewContribution>
<!-- Add Step debug icon to debug view toolbar -->
      <viewContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="com.ibm.debug.DebugViewToolbarActions.StepDebug">
         <action
               label="%StepDebugAction.label"
               icon="icons/full/clcl16/stepdebug_tsk.gif"
               tooltip="%StepDebugAction.tooltip"
               class="com.ibm.debug.internal.pdt.ui.actions.StepDebugActionDelegate"
               toolbarPath="stepReturnGroup"
               enablesFor="1"
               id="com.ibm.debug.pdt.ui.actions.StepDebug">
         </action>
      </viewContribution>
   </extension>
<!-- Context menu additions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="com.ibm.debug.internal.pdt.ui.BreakpointViewActions">
         <menu
               label="%AddBP.label"
               path="emptyBreakpointGroup"
               id="com.ibm.debug.internal.pdt.ui.actions.AddBreakpoint">
            <separator
                  name="group.addBreakpoint">
            </separator>
         </menu>
         <action
               label="%EditBPAction.label"
               helpContextId="edit_breakpoint_action"
               class="com.ibm.debug.internal.pdt.ui.actions.EditBreakpointAction"
               menubarPath="com.ibm.debug.internal.pdt.ui.actions.AddBreakpoint"
               enablesFor="0"
               id="com.ibm.debug.internal.pdt.ui.actions.EditBreakpointAction">
         </action>
         <action
               label="%LoadBPAction.label"
               helpContextId="add_load_breakpoint_action"
               class="com.ibm.debug.internal.pdt.ui.actions.AddLoadBreakpointAction"
               menubarPath="com.ibm.debug.internal.pdt.ui.actions.AddBreakpoint/group.addBreakpoint"
               enablesFor="0"
               id="com.ibm.debug.internal.pdt.ui.actions.AddLoadBreakpointAction">
         </action>
         <action
               label="%WatchBPAction.label"
               helpContextId="add_watch_breakpoint_action"
               class="com.ibm.debug.internal.pdt.ui.actions.AddWatchBreakpointAction"
               menubarPath="com.ibm.debug.internal.pdt.ui.actions.AddBreakpoint/group.addBreakpoint"
               enablesFor="0"
               id="com.ibm.debug.internal.pdt.ui.actions.AddWatchBreakpointAction">
         </action>
         <action
               label="%AddressBPAction.label"
               helpContextId="add_address_breakpoint_action"
               class="com.ibm.debug.internal.pdt.ui.actions.AddAddressBreakpointAction"
               menubarPath="com.ibm.debug.internal.pdt.ui.actions.AddBreakpoint/group.addBreakpoint"
               enablesFor="0"
               id="com.ibm.debug.internal.pdt.ui.actions.AddAddressBreakpointAction">
         </action>
         <action
               label="%EntryBPAction.label"
               helpContextId="add_entry_breakpoint_action"
               class="com.ibm.debug.internal.pdt.ui.actions.AddEntryBreakpointAction"
               menubarPath="com.ibm.debug.internal.pdt.ui.actions.AddBreakpoint/group.addBreakpoint"
               enablesFor="0"
               id="com.ibm.debug.internal.pdt.ui.actions.AddEntryBreakpointAction">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="com.ibm.debug.DebugViewActions">
         <action
               label="%ShowStoppingThreadAction.label"
               helpContextId="show_stopping_thread_action"
               class="com.ibm.debug.internal.pdt.ui.actions.ShowStoppingThreadAction"
               menubarPath="emptyDebugGroup"
               enablesFor="0"
               id="com.ibm.debug.pdt.ui.actions.ShowStoppingThreadAction">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Debugger Editor"
            icon="icons/full/cview16/source_view.gif"
            extensions="text-1"
            helpContextId="debugger_editor"
            contributorClass="com.ibm.debug.internal.pdt.ui.editor.DebuggerEditorContextContributor"
            class="com.ibm.debug.internal.pdt.ui.editor.DebuggerEditor"
            id="com.ibm.debug.pdt.editor.DebuggerEditor">
      </editor>
   </extension>
<!-- Infopop (F1 Help) enablement -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            name="contextsDebug.xml"
            plugin="com.ibm.debug.pdt">
      </contexts>
   </extension>
<!-- Launch Configurations -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name=" "
            delegate="com.ibm.debug.pdt.launch.OldDaemonDefaultLaunchConfigurationDelegate"
            modes="debug"
            public="false"
            id="com.ibm.debug.OldDaemonDefaultLaunchConfiguration">
      </launchConfigurationType>
      <launchConfigurationType
            name="%loadPICLApplication"
            delegate="com.ibm.debug.pdt.launchconfig.PICLLoadLaunchConfigurationDelegate"
            modes="debug"
            id="com.ibm.debug.loadPICLApplication">
      </launchConfigurationType>
      <launchConfigurationType
            name="%attachPICLApplication"
            delegate="com.ibm.debug.pdt.launchconfig.PICLAttachLaunchConfigurationDelegate"
            modes="debug"
            id="com.ibm.debug.attachPICLApplication">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/loadconfig_obj.gif"
            configTypeID="com.ibm.debug.loadPICLApplication"
            id="com.ibm.debug.launchConfigurationTypeImage.PICLLoadApplicationImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/full/obj16/attachconfig_obj.gif"
            configTypeID="com.ibm.debug.attachPICLApplication"
            id="com.ibm.debug.launchConfigurationTypeImage.PICLAttachApplicationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <launchConfigurationTab
            name="%AttachConfig.tab1"
            type="com.ibm.debug.attachPICLApplication"
            class="com.ibm.debug.pdt.launchconfig.PICLAttachMainTab"
            id="com.ibm.debug.launchConfigurationTab.AttachMain">
      </launchConfigurationTab>
      <launchConfigurationTab
            name="%AttachConfig.tab2"
            type="com.ibm.debug.attachPICLApplication"
            class="com.ibm.debug.pdt.launchconfig.PICLAttachAdvancedTab"
            id="com.ibm.debug.launchConfigurationTab.AttachAdvanced">
      </launchConfigurationTab>
      <launchConfigurationTab
            name="%LoadConfig.tab1"
            type="com.ibm.debug.loadPICLApplication"
            class="com.ibm.debug.pdt.launchconfig.PICLLoadMainTab"
            id="com.ibm.debug.launchConfigurationTab.LoadMain">
      </launchConfigurationTab>
      <launchConfigurationTab
            name="%LoadConfig.tab2"
            type="com.ibm.debug.loadPICLApplication"
            class="com.ibm.debug.pdt.launchconfig.PICLLoadAdvancedTab"
            id="com.ibm.debug.launchConfigurationTab.LoadAdvanced">
      </launchConfigurationTab>
   </extension>

</plugin>
