<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.linux.help"
   name="Linux Help Plugin"
   version="2.0.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.cdt.linux.help.HelpPlugin">
<requires>
   <import plugin="org.eclipse.core.runtime" version="2.0.0"/>
   <import plugin="org.eclipse.core.resources" version="2.0.0"/>
   <import plugin="org.eclipse.swt" version="2.0.0"/>
   <import plugin="org.eclipse.ui" version="2.0.0"/>
   <import plugin="org.eclipse.cdt.dstore.core"/>
   <import plugin="com.ibm.lpex"/>
   <import plugin="org.apache.lucene"  version="1.2.0"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="linux_help.jar">
      <export name="*"/>
   </library>
</runtime>

<extension
      point="org.eclipse.ui.views">
   <view
         name="%View.Title.HelpResults"
         icon="icons/full/cview16/docsearch_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.linux.help.views.ResultsViewPart"
         id="org.eclipse.cdt.linux.help.views.ResultsViewPart">
   </view>
</extension>
<extension
      point="org.eclipse.ui.viewActions">
   <viewContribution
         targetID="org.eclipse.cdt.linux.help.views.ResultsViewPart"
         id="org.eclipse.cdt.linux.help.actions.vc1">
      <action
            label="%PopupMenu.ResultsView.label"
            icon="icons/full/clcl16/properties.gif"
            tooltip="%PopupMenu.ResultsView.tooltip"
            class="org.eclipse.cdt.linux.help.actions.ViewActionDelegate"
            menubarPath="additions"
            toolbarPath="additions"
            id="org.eclipse.cdt.linux.help.actions.va1">
      </action>
      <action
            label="%PopupMenu.ResultsView.AddFilter.label"
            icon="icons/full/clcl16/filter_misc.gif"
            tooltip="%PopupMenu.ResultsView.AddFilter.tooltip"
            class="org.eclipse.cdt.linux.help.actions.FilterActionDelegate"
            menubarPath="additions"
            toolbarPath="additions"
            id="org.eclipse.cdt.linux.help.actions.va2">
      </action>
   </viewContribution>
</extension>
</plugin>
