<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Linux Help Plugin"
  id = "org.eclipse.cdt.linux.help"
  version="0.5.0"
  provider-name="International Business Machines Corp."
  class="org.eclipse.cdt.linux.help.HelpPlugin">

  <requires>
         <import plugin="org.eclipse.core.runtime"/>
         <import plugin="org.eclipse.core.resources"/>
         <import plugin="org.eclipse.swt"/>
	 <import plugin="org.eclipse.ui"/>
         <import plugin="org.eclipse.cdt.dstore.core"/>
	 <import plugin="com.ibm.lpex"/>
  </requires>

  <runtime>
    <library name=".">
      <export name="*"/>
    </library>
     <library name="linux_help.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension
	point="org.eclipse.ui.views">		
	<view
		id="org.eclipse.cdt.linux.help.views.ResultsViewPart"
		name="%View.Title.HelpResults"
		category="org.eclipse.cdt.cpp.ui.cpp"
		icon="icons/results.gif"
		class="org.eclipse.cdt.linux.help.views.ResultsViewPart">
	</view>	
  </extension>

  <extension
    point = "org.eclipse.ui.viewActions">
      <viewContribution 
         id="org.eclipse.cdt.linux.help.actions.vc1" 
         targetID="org.eclipse.cdt.linux.help.views.ResultsViewPart">        
	 <action id="org.eclipse.cdt.linux.help.actions.va1" 
              label="%PopupMenu.ResultsView.label" 
	      menubarPath="additions"
              toolbarPath="additions" 
              icon="icons/sections.gif" 
              tooltip="%PopupMenu.ResultsView.tooltip" 
   	     
              class="org.eclipse.cdt.linux.help.actions.ViewActionDelegate" 
              > 			   
	</action>
        <action id="org.eclipse.cdt.linux.help.actions.va2"
		label="%PopupMenu.ResultsView.AddFilter.label"
		menubarPath="additions"
		toolbarPath="additions"
		icon="icons/filter.gif"
		tooltip="%PopupMenu.ResultsView.AddFilter.tooltip"
		class="org.eclipse.cdt.linux.help.actions.FilterActionDelegate"
		>              
        </action>

      </viewContribution>
  </extension>

</plugin>




