<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>The C/C++ Development Plugin - Command View</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!-----------------------------------------------------------------------------------
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
<h1>Command View</h1>
<!----- 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Command View</font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
       <p>The Command View is used to launch commands that user could normally launch from a Windows shell.
          Two pieces of information are used to launch the command: the working directory, and the command
          itself.</p>
       <p><center><img src="../../images/command.gif" border=0></center></p>
     </td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
       <p><b>The Working Directory</b><br>
          Specifying a working directory has the effect of changing to that directory before
          running the command. 
       <p>As you manoeuvre through your files in the <a href="navigator.htm">Navigator View</a>, the
          working directory will be updated.   If you need to explicitly change the working directory
          the <b>Browse</b> button will bring up a dialog to help you.</p>
     </td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><b>The Command Line</b><br>
           Simply type a command in the entryfield and click <b>Run</b> to launch the command.  You will be
           automatically taken to the <a href="output.htm">Output View</a> where you can
          view the output of the command as well as Cancel the command.</p>
     </td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><b>Important Notes about Environment:</b><br>
        <ol>
           <li>Each command is executed as a new process, so any changes to environment will not be persistent.
               For example, if you launch the command <b>set PATH=some/new/path;%PATH%</b>, the change to the
               PATH variable will be lost.
           <li>Due to the way that the Java Virtual Machine works, the environment in which you start the Websphere
               Studio Workbench is NOT inherited by this plugin.  Therefore any environment variables you may set
               in the same session and just prior to bringing up the Desktop, are not "seen" by any commands you will
               launch.
           <li>If you need to change environment variables before executing a command, create a batch file that does
               this and then launches your command.  For example you could write a file <i>doIt.bat</i> that looked like: <br>
           <tt>
           <pre>
              set PATH=some/new/path;%PATH%
              set DEBUG=1
              %1
           </pre>
           </tt>
           <p>The <b>%1</b> at the end of the file just launches whatever command was specified as a parameter to <i>doIt.bat</i>.
              If you wanted to run <i>myCommand</i>, you would then launch the command <b> doIt myCommand</b>, and
              you would get the proper environment set before the <i>myCommand</i> was launched.</li>
        </ol></p></td>
  </tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
<h2>Limitations</h2>
<!-----
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Limitations for this release <font color="yellow">( Will be fixed in a future release )</font></font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">             
        <p>More <a href="../../troubleshooting/commands.htm">Troubleshooting</a> information.
    </td>  
</tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
<!-----
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
----->
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><a href = "../../frames/contact.htm">Contact Us</a>
        <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
     </td>  
  </tr>
</table>
<!----------------------------------------------------------------------------------->
</body>
</html>
