<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>The C/C++ Development Plugin - C/C++ Perspective</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!-----------------------------------------------------------------------------------
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
<h1>Opening The C/C++ Perspective</h1>
<!------
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Opening The C/C++ Perspective</font></b></td>
---->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p>Select menu item:<br><center><img src="../../images/selectcpp_1.gif"></center>
        <p>Select menu item:<br><center><img src="../../images/selectcpp_2.gif"></center>
        <p>LMB click <img src="../../images/okbutton.gif">
     </td>
  </tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
<h1>C/C++ Perspective</h1>
<!---- 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        C/C++ Perspective</font></b></td>
---->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p>The C/C++ Perspective is a collection of views and actions that allow for a development
           experience tailored for C/C++ Developers.  The perspective provides support for the most
           basic development tasks, such as:
        <ol>
           <li><a href="../../concepts/views/source.htm">Editing Source</a></li>
           <li><a href="../../concepts/compiling/projects.htm">Compiling Projects</a></li>
           <li><a href="../../concepts/commands/commands.htm">Launching Command Line Tools (ie grep)</a></li>
        </ol>
        
           <br><br><center><img src="../../images/perspective.gif"></center>
     </td>
  </tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
<h1>Available Views</h1>
<!------ 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Available Views</font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
       <p>The C/C++ Perspective consists of the following views:
       <ol>
          <li><a href="command.htm">Command</a>
          <li><a href="details.htm">Details</a>
          <li><a href="navigator.htm">Navigator</a>
          <li><a href="output.htm">Output</a>
          <li><a href="parsedsource.htm">Parsed Source</a>
          <li><a href="projectobjects.htm">Project Objects</a>
          <li><a href="properties.htm">Properties</a>
          <li><a href="search.htm">Search</a>
          <li><a href="source.htm">Source</a>
          <li><a href="systemobjects.htm">System Objects</a>
          <li><a href="targets.htm">Targets</a>
       </ol>
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
<h1>Custom Perspectives</h1> 
<!------
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Custom Perspectives</font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
       <p>You can <a href="custom.htm">create your own</a> custom perspective if you wish.
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
<!---- 
 <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
---->
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
     <p><a href = "../../frames/contact.htm">Contact Us</a>
     <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
  </td>  
</tr>
</table>
<!----------------------------------------------------------------------------------->
</body>
</html>
