<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>C/C++ Projects View</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!-----------------------------------------------------------------------------------
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
  <h1>C/C++ Projects View</h1> 
<!----
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Navigator View</font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2"> 
        <p>The C/C++ Projects View provides a means of navigating through and working with the
           files of your project(local or remote). Many of the actions presented are specific to the C/C++ Plugin. <br><br><center><img src="../../images/cppprojects_1.gif" border=0></center>
        
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
  <h2>Files</h2> 
<!----
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Files</font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2"> 
        <p>For a file to appear in the C/C++ Projects view, it must be part of a project.  
           See <a href="../../gettingstarted/createproject/create.htm">Create a Project</a> for
           details on creating projects.<br><br><center><img src="../../images/cppprojects_2.gif" border=0></center>
        <p>Once your source files are in the C/C++ Projects view, you may navigate and perform actions on them.
        
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
<!---- 
 <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
----->
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
     <p><a href = "../../frames/contact.htm">Contact Us</a>
     <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
  </td>  
</tr>
</table>
<!----------------------------------------------------------------------------------->
</body>
</html>
