<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>The C/C++ Development Plugin - Custom Perspectives</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Creating your own custom perspective</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p>There are two ways to create your own custom perspective:
        <ol>
           <li>Open the C/C++ Perspective and add or close views as required
           <li>Start with the default perspective and select the views you require.
        </ol>

        <p>You can also choose to:
        <ol>
           <li>Modify your existing workbench
           <li>Open a new workbench.
        </ol>

     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Modifying the C/C++ Perspective</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <ol>
           <li>Apply the <b>C/C++ Perspective</b> to an existing Workspace<br><br>
               <center><img border="0" src="../../images/selectcpp_1.gif"></center><br>
               <center><img border="0" src="../../images/selectcpp_2.gif"></center>
           <li>Close any views which you do not require<br><br>
               <center><img border="0" src="../../images/closeview.gif"></center>
           <li>Add any views which you require<br><br>
               <center><img border="0" src="../../images/addview_1.gif"></center><br>
               <center><img border="0" src="../../images/addview_2.gif"></center>
           <li>Save your new perspective<br><br>
               <center><img border="0" src="../../images/saveperspective_1.gif"></center><br>
               <center><img border="0" src="../../images/saveperspective_2.gif"></center>
           <li>Select <img border="0" src="../../images/okbutton.gif">
        </ol>
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Create your own Perspective</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <ol>
           <li>Start with a clean Workspace<br><br>
               <center><img border="0" src="../../images/createworkspace.gif"></center>
           <li>Add any views which you require<br><br>
               <center><img border="0" src="../../images/addview_1.gif"></center><br>
               <center><img border="0" src="../../images/addview_2.gif"></center>
           <li>Save your new perspective<br><br>
               <center><img border="0" src="../../images/saveperspective_1.gif"></center><br>
               <center><img border="0" src="../../images/saveperspective_2.gif"></center>
           <li>Select <img border="0" src="../../images/okbutton.gif">
        </ol>         
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Changing View Sequence</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p>Once the views are visible within your perspective, the view sequence can be
           changed via <a href = "dropanddrag.htm"><i>drop and drag</i></a>.
    </td>  
  </tr>
</table>
<!----------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
     <p><a href = "../../frames/contact.htm">Contact Us</a>
     <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
  </td>  
</tr>
</table>
<!----------------------------------------------------------------------------->