<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>The C/C++ Development Plugin - Drop and Dragging Views</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Drop And Dragging Views</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p>Although this is a feature of the Eclipse Workbench, we though it appropriate
           to discuss this here. 
        <p>To further tailor your work environment, you can <i>drop and drag</i> views
           within your workspace. When you drag a window you can either drop it
           <ol>
              <li>in a different window grouping
              <li>create a new window outside existing window groups
              <li>place it on the left-hand toolbar.
           </ol>
        <p>When you drop a window on an existing window group it is always added on the
           <b>right-hand</b> side of the windows list.
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Different Window Grouping</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><center><img border="0" src="../../images/perspective.gif"></center><br>
           Simply click and drag the view tab to the other window group and when the
           cursor turns into a group of folders
           <img border="0" src="../../images/folders.gif"><br><br>
           <center><img border="0" src="../../images/dropanddrag_1.gif"></center><br>
           release the mouse button.<br><br>
           <center><img border="0" src="../../images/dropanddrag_2.gif"></center><br>
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Outside Window Groups</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><center><img border="0" src="../../images/perspective.gif"></center><br>
           Simply click and drag the view tab to the other window group and when the
           cursor turns into an arrow
           <img border="0" src="../../images/downarrow.gif"><br><br>
           <center><img border="0" src="../../images/dropanddrag_3.gif"></center><br>
           release the mouse button.<br><br>
           <center><img border="0" src="../../images/dropanddrag_4.gif"></center><br>
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Left-Hand Toolbar</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><center><img border="0" src="../../images/perspective.gif"></center><br>
           Simply click and drag the view tab to the other window group and when the
           cursor turns into a group of folders
           <img border="0" src="../../images/folders.gif"><br><br>
           <center><img border="0" src="../../images/dropanddrag_5.gif"></center><br>
           release the mouse button.<br><br>
           <center><img border="0" src="../../images/dropanddrag_6.gif"></center><br>
        <p>Selecting the <img border="0" src="../../images/windowicon.gif"> icon will
           show the window<br><br> 
           <center><img border="0" src="../../images/dropanddrag_7.gif"></center><br>
           selecting the <img border="0" src="../../images/windowicon.gif"> icon a 
           second time will hide the window.<br> 
        <p>Selecting the <img border="0" src="../../images/stickpin.gif"> icon will
           restore the window to it's original location or window group.
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
     <p><a href = "../../frames/contact.htm">Contact Us</a>
     <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
  </td>  
</tr>
</table>
<!----------------------------------------------------------------------------->