<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>The C/C++ Development Plugin - Hosts View</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!-----------------------------------------------------------------------------------
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
<h1>Hosts View</h1>
<!----
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Hosts View</font></b></td>
---->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
       <p>This view should let you browse and manipulate the filesystem of a remote machine.

       <h3 color='blue'>Client: connecting to remote machines</h3>
       <ol>
       <li>Change to the <b>Host Perspective</b> <i>(Perspective->Open->Other->Host)</i> </li><br><br>
       <li>Click on the connection button <img src=../../images/connect_icon.gif>at the top right hand corner of the <b>Host</b> view to create a new connection</li><br><br>
       <li>Fill in the information of the server you want to connect to:<br>
       <ul>
       <li>Give any <code>Name</code> to the connection.</li>
       <li>If you check the <code>Work remotely</code> box you would need to fill the <i>Server</i> section.</li>
       <li>Specify either the "IP address" or the "hostname" of the server machine you would want to connect to in the <code>Host IP</code> field. </li>
       <li>The <code>port</code> should be the same as the remote server (if you are running the <b>DStore server</b>) but it could be any if you are trying to connect to a <b>DStore Daemon</b>.</i>
       <li>Check the box <code>Connect to using daemon</code> if the remote machine is running the <b>Dstore Daemon</b> and leave it empty if the remote machine is running the <b>Dstore Server</b>.</li> 
       <li>The <code>Root Directory</code> is the directory that you will first start browsing in the remote machine.</li>
       <li>Click on <code>OK</code></li>
       </ul>
        </li><br>
	<img src=../../images/connect_box.gif>
<br><br>
	<li>Right-click on the newly created connection in the Hosts view and select <i>connect To</i> to try to connect to the remote server</li>.<br> Fill in your <code>username</code> and <code>password</code>. If the connection was successful, the connection name in the Hosts view would become expandable. Expand the connection and start browsing the remote filesystem </li> 
       </ol>
       <img src="../../images/hostsview.gif">

<hr>

       <h3>Server: Running the Server/Daemon</h3>
       <p> Follow the same instructions to <a href="../../tasks/remote/server.htm">run the server/daemon</a> that you follow to run remote projects<br><br> 

       
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
<!----
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
---->
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
     <p><a href = "../../frames/contact.htm">Contact Us</a>
     <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
  </td>  
</tr>
</table>
<!----------------------------------------------------------------------------------->
