<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Navigator View</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Navigator View</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2"> 
        <p>The Navigator View provides a means of navigating through and working with the
           files of your project.<br><br><center><img src="../../images/navigator_1.gif" border=0></center>
        
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Files</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2"> 
        <p>For a file to appear in the navigator, it must be part of a project.  
           See <a href="../../gettingstarted/createproject/create.htm">Create a Project</a> for
           details on creating projects.<br><br><center><img src="../../images/navigator_2.gif" border=0></center>
        <p>Once your source files are in the Navigator, you may navigate and perform actions on them:
        <ul> 
           <li><a href="source.htm">Edit</a> - Double-Click on a file to open it in the
              <a href="source.htm">Source view</a>
           <li><a href="../../concepts/compiling/makefiles.htm">Designate as Makefile</a>
              - Right-Click on a Makefile and choose "Makefile... -> Designate" 
           <li><a href="../../tasks/compile/invocation.htm">Build</a> - Right-Click on a designated
              Makefile and choose "Makefile... -> Build"
           <li><a href="../../concepts/compiling/makefiles.htm">UnDesignate Makefile</a> - Right-Click on a
              designated Makefile and choose "Makefile... -> Undesignate"
        </ul> 
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
     <p><a href = "../../frames/contact.htm">Contact Us</a>
     <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
  </td>  
</tr>
</table>
<!----------------------------------------------------------------------------------->
</body>
</html>
