<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Command Output View</title>
</head>
<!----------------------------------------------------------------------------------->
<body text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#FF0000" alink="#000000">
<!-----------------------------------------------------------------------------------
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=left width="80%"><b><font face="Verdana" size="+3">The C/C++<br>
        Development Plugin</font></b></td>
    <td width="20%"><img SRC="../../images/idea.jpg" height=86 width=120 align=center></td>
  </tr>
</table>
----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr>
<h1>Output View</h1> 
<!----
     <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
        Output View</font></b></td>
----->
  </tr>
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2"> 
        <p>The Output View displays <i>parsed</i> output (from both the stdout and stderr of
           the command) from:
           <ol>
              <li>any commands you launch from the <a href="command.htm">Command View</a>
              <li>any <i>Build actions</i> initiated from either the <a href="navigator.htm">Navigator View</a>
                  or <a href="targets.htm">Command Specifications View</a>
           </ol>
           The output is parsed based on the defined <a href="../commands/formats.htm">Formats</a>
           which are configurable. Lines that do not match one of the defined formats are displayed
           as a regular line of text. Lines that are parsed to match a defined format are displayed
           as objects which can be Double-Clicked to get to the Source Location.
        <p>Here is an example of output that contains both types of lines (the lines that begin with
           an icon were parsed and have Source Locations):
        <p><center><img src="../../images/commandoutput.gif"></center> 
     </td>
  </tr> 
</table>
<!----------------------------------------------------------------------------------->
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
<!----
  <tr> 
    <td ALIGN=left VALIGN=top COLSPAN="2" BGCOLOR="#0080c0"><b><font color="#ffffff" face="Arial,Helvetica">
       Contact Us</font></b></td>
  </tr>
----->
<!---------->
  <tr>
     <td ALIGN=left VALIGN=top COLSPAN="2">
        <p><a href = "../../frames/contact.htm">Contact Us</a>
        <p><a href="../../hglegal.htm"><img border="0" src="../../images/ngibmcpy.gif" width="195" height="12"></a></p>
     </td>  
  </tr>
</table>
<!----------------------------------------------------------------------------------->
</body>
</html>
