<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            class="org.eclipse.cdt.windows.debug.cdi.core.WinCDIDebugger"
            cpu="x86"
            id="org.eclipse.cdt.windows.debug.cdi.core.debugger"
            modes="run"
            name="Windows Debugger"
            platform="win32">
      </debugger>
   </extension>

</plugin>
