<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.dstore.ui"
   name="DataStore UI Plugin"
   version="2.0.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.cdt.dstore.ui.DataStoreUIPlugin">
<requires>
   <import plugin="org.eclipse.ui" version="2.0.0"/>
   <import plugin="org.eclipse.swt" version="2.0.0"/>
   <import plugin="org.eclipse.core.resources" version="2.0.0"/>
   <import plugin="org.eclipse.core.runtime" version="2.0.0"/>
   <import plugin="org.eclipse.core.boot" version="2.0.0"/>
   <import plugin="org.eclipse.cdt.dstore.extra"/>
   <import plugin="org.eclipse.cdt.dstore.core"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="dstore_ui.jar">
      <export name="*"/>
   </library>
</runtime>

<extension
      point="org.eclipse.ui.views">
   <category
         name="&amp;DataStore"
         id="org.eclipse.cdt.dstore.ui">
   </category>
   <view
         name="%Generic_View_Part"
         icon="icons/objects.gif"
         category="org.eclipse.cdt.dstore.ui"
         class="org.eclipse.cdt.dstore.ui.views.GenericViewPart"
         id="org.eclipse.cdt.dstore.ui.views.GenericViewPart">
   </view>
   <view
         name="%Object_Details"
         icon="icons/details.gif"
         category="org.eclipse.cdt.dstore.ui"
         class="org.eclipse.cdt.dstore.ui.views.DetailsViewPart"
         id="org.eclipse.cdt.dstore.ui.views.DetailsViewPart">
   </view>
</extension>
</plugin>
