<?xml version="1.0"?>
<plugin
   name = "Cpp ParseMiner Plugin"
   id = "com.ibm.cpp.miners.parser"
   version = "1.0.0"
   vendor-name = "International Business Machines Corp.">
   <requires>
     <import plugin="com.ibm.cpp.miners"/> 
     <import plugin="com.ibm.dstore.core"/>
   </requires>
   <runtime>
    <library name=".">
       	<export name="*" />      
     </library> 
      <library name="cpp_miners_parser.jar">
       	<export name="*" />      
     </library> 
   </runtime>
</plugin>







