<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="com.ibm.debug.daemon"
   name="DebugDaemonPlugin"
   version="2.0.0"
   provider-name="International Business Machines Corp."
   class="com.ibm.debug.daemon.DebugDaemonPlugin">
<requires>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.debug.core"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.debug.ui"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="daemon.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Preference Pages -->
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         name="%Preferences.title1"
         helpContextId="debug_daemon_preference_page"
         category="org.eclipse.debug.ui.DebugPreferencePage"
         class="com.ibm.debug.daemon.DebugDaemonPreferencePage"
         id="com.ibm.debug.daemon.DebugDaemonPreferencePage">
   </page>
</extension>

<!-- View Actions -->
<!-- True would be the ideal default state, but it has to be false due to the tooltip behaviour. -->
<extension point = "org.eclipse.ui.viewActions">
	<viewContribution
		id="com.ibm.debug.wsa.DebugViewActions"
		targetID="org.eclipse.debug.ui.DebugView">
		<action id="com.ibm.debug.daemon.ListenActionDelegate"
			label="%debugDaemon"
			toolbarPath="DaemonGroup"
            icon="registergroup_obj.gif"
			tooltip="%ListenAction.tooltip"
            state="false"
            class="com.ibm.debug.daemon.ListenActionDelegate">
        </action>		
	</viewContribution>
</extension>

</plugin>
