<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="DataStore Extra Plugin"
   id = "com.ibm.dstore.extra"
  version="1.0.0"
  provider-name="International Business Machines Corp.">
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

  <runtime>
    <library name="dstore_extra_client.jar">
      <export name="*"/>
    </library>
  </runtime>
</plugin>




