<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.dstore.extra"
   name="DataStore Extra Plugin"
   version="2.0.0"
   provider-name="International Business Machines Corp.">
<requires>
   <import plugin="org.eclipse.ui" version="2.0.0"/>
   <import plugin="org.eclipse.swt" version="2.0.0"/>
   <import plugin="org.eclipse.core.resources" version="2.0.0"/>
   <import plugin="org.eclipse.core.runtime" version="2.0.0"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="dstore_extra.jar">
      <export name="*"/>
   </library>
</runtime>
</plugin>
