<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.cdt.internal.csharp.ui.CSharpEditor"
            contributorClass="org.eclipse.cdt.internal.ui.editor.CEditorActionContributor"
            default="false"
            icon="icons/obj16/cs_file_obj.gif"
            id="cSharpEditor"
            name="C# Editor"
            symbolicFontName="org.eclipse.cdt.ui.editors.textfont">
         <contentTypeBinding contentTypeId="org.eclipse.cdt.csharp.core.cSharpSource"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.cdt.internal.ui.editor.CDocumentSetupParticipant"
            contentTypeId="org.eclipse.cdt.csharp.core.cSharpSource"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.cdt.csharp.core.CSharpLanguage"
            class="org.eclipse.cdt.internal.csharp.ui.CSharpLanguageUIAdapterFactory">
         <adapter type="org.eclipse.cdt.ui.ILanguageUI"/>
      </factory>
   </extension>

</plugin>
