<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.source"
   name="%pluginName"
   version="1.1.0"
   provider-name="%providerName">

   <runtime>
      <library name=""/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.mi.core"/>
      <import plugin="org.eclipse.cdt.debug.mi.ui"/>
      <import plugin="org.eclipse.cdt.debug.ui"/>
      <import plugin="org.eclipse.cdt.launch"/>
      <import plugin="org.eclipse.cdt.ui"/>
   </requires>


   <extension
         point="org.eclipse.pde.core.source">
      <location
            path="src">
      </location>
   </extension>

</plugin>
