<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.build.core.buildDefinitions">
      <targetPlatform
            class="org.eclipse.cdt.build.gnu.core.LinuxGCCTargetPlatform"
            id="linux.gcc"
            name="Linux GCC">
      </targetPlatform>
   </extension>

</plugin>
