<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="linuxGCC"
         name="Linux GCC"
         point="org.eclipse.cdt.build.core.targetPlatform">
      <targetPlatform
            class="org.eclipse.cdt.build.gnu.core.LinuxGCCTargetPlatform">
      </targetPlatform>
   </extension>
   <extension
         id="mingw"
         name="MinGW GCC"
         point="org.eclipse.cdt.build.core.targetPlatform">
      <targetPlatform
            class="org.eclipse.cdt.build.gnu.core.MinGWTargetPlatform">
      </targetPlatform>
   </extension>

</plugin>
