<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.dstore.hosts"
   name="%pluginName"
   version="2.0.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.cdt.dstore.hosts.HostsPlugin">
<requires>
   <import plugin="org.eclipse.ui" version="2.0.0"/>
   <import plugin="org.eclipse.swt" version="2.0.0"/>
   <import plugin="org.eclipse.core.resources" version="2.0.0"/>
   <import plugin="org.eclipse.core.runtime" version="2.0.0"/>
   <import plugin="org.eclipse.core.boot" version="2.0.0"/>
   <import plugin="org.eclipse.cdt.dstore.extra"/>
   <import plugin="org.eclipse.cdt.dstore.core"/>
   <import plugin="org.eclipse.cdt.dstore.ui"/>
   <import plugin="org.eclipse.cdt.dstore.miners"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="dstore_hosts.jar">
      <export name="*"/>
   </library>
</runtime>

<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         name="%Hosts"
         icon="icons/full/cview16/host_perspective.gif"
         class="org.eclipse.cdt.dstore.hosts.views.HostsPerspective"
         id="org.eclipse.cdt.dstore.hosts.views.HostsPerspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         name="&amp;Hosts"
         id="org.eclipse.cdt.dstore.hosts">
   </category>
   <view
         name="%Hosts"
         icon="icons/full/cview16/hosts_view.gif"
         category="org.eclipse.cdt.dstore.hosts"
         class="org.eclipse.cdt.dstore.hosts.views.HostsViewPart"
         id="org.eclipse.cdt.dstore.hosts.views.HostsViewPart">
   </view>
   <view
         name="%Host_Details"
         icon="icons/full/cview16/hostdetail_view.gif"
         category="org.eclipse.cdt.dstore.hosts"
         class="org.eclipse.cdt.dstore.hosts.views.HostsDetailsViewPart"
         id="org.eclipse.cdt.dstore.hosts.views.HostsDetailsViewPart">
   </view>
   <view
         name="%Output"
         icon="icons/full/cview16/outgoing_view.gif"
         category="org.eclipse.cdt.dstore.hosts"
         class="org.eclipse.cdt.dstore.hosts.views.OutputViewPart"
         id="org.eclipse.cdt.dstore.hosts.views.OutputViewPart">
   </view>
   <view
         name="%Command"
         icon="icons/full/cview16/command_view.gif"
         category="org.eclipse.cdt.dstore.hosts"
         class="org.eclipse.cdt.dstore.hosts.views.CommandViewPart"
         id="org.eclipse.cdt.dstore.hosts.views.CommandViewPart">
   </view>
</extension>

 <extension
         point="org.eclipse.ui.popupMenus">
         
      <objectContribution
            objectClass="org.eclipse.cdt.dstore.core.model.DataElement"
            id="Connections">
         <filter
               name="type"
               value="root">
         </filter>
         <action
               label="Connect"
               class="org.eclipse.cdt.dstore.hosts.actions.HostConnectAction"
               id="org.eclipse.cdt.dstore.hosts.actions.HostConnectAction">
         </action>
        <action
               label="Disconnect"
               class="org.eclipse.cdt.dstore.hosts.actions.HostDisconnectAction"
               id="org.eclipse.cdt.dstore.hosts.actions.HostDisconnectAction">
         </action>
         <action
               label="Edit"
               class="org.eclipse.cdt.dstore.hosts.actions.HostEditAction"
               id="org.eclipse.cdt.dstore.hosts.actions.HostEditAction">
         </action>
         <action
               label="Delete"
               class="org.eclipse.cdt.dstore.hosts.actions.HostDeleteAction"
               id="org.eclipse.cdt.dstore.hosts.actions.HostDeleteAction">
         </action>
          </objectContribution>
         
</extension>    
    
</plugin>
