<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="DataStore Core Plugin"
   id = "com.ibm.dstore.core"
  version="1.2.1"
  provider-name="IBM"
  class="com.ibm.dstore.core.DataStoreCorePlugin">
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ibm.dstore.extra"/>
   </requires>

  <runtime>
    <library name=".">
      <export name="*"/>
    </library>
  </runtime>
</plugin>




