<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.dstore.core"
   name="DataStore Core Plugin"
   version="2.0.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.cdt.dstore.core.DataStoreCorePlugin">
<requires>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.swt"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.cdt.dstore.extra"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="dstore_core.jar">
      <export name="*"/>
   </library>
</runtime>
</plugin>
