<?xml version="1.0"?>
<plugin
   name = "%pluginName"
   id = "com.ibm.cpp.ui"
   version = "1.0.0"
   vendor-name = "International Business Machines Corp."
   class="com.ibm.cpp.ui.internal.CppPlugin">

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="com.ibm.lpex"/>
      <import plugin="com.ibm.debug"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.core.target"/>
      <import plugin="org.eclipse.vcm.core"/>
      <import plugin="com.ibm.dstore.miners"/>
      <import plugin="com.ibm.cpp.miners"/>
      <import plugin="com.ibm.cpp.miners.parser"/>
      <import plugin="com.ibm.dstore.extra"/>
      <import plugin="com.ibm.dstore.core"/>
      <import plugin="com.ibm.dstore.ui"/>
      <import plugin="com.ibm.dstore.hosts"/>
      <import plugin="com.ibm.cpp.linux.help"/>
   </requires>

   <runtime>
     <library name=".">
       	<export name="*" />
     </library>
     <library name="cpp_ui.jar">
       	<export name="*" />
     </library>
     
   </runtime>


<!-- C++ Project Nature -->

<extension 
	point="org.eclipse.core.resources.natures" 
	id="cppnature"
	name="C/C++ Project Nature">
	<runtime>
		<run class="com.ibm.cpp.ui.internal.CppProject">
		</run>
	</runtime>
</extension>



<!-- Launchers -->

<extension point="org.eclipse.debug.core.launchers">
	<launcher  id="com.ibm.cpp.ui.launchers.CppLoadLauncher"
	   	   class="com.ibm.cpp.ui.internal.launchers.CppLoadLauncher"
	  	   modes="debug"
 	  	   label= "Start a C/C++ Application"
 	  	   public= "true"
 	  	   description= "C/C++ debug program launcher" />

	<launcher  id="com.ibm.cpp.ui.launchers.CppRunLauncher"
	   	   class="com.ibm.cpp.ui.internal.launchers.CppRunLauncher"
	  	   modes="run"
 	  	   label= "C/C++ Application"
 	  	   public= "true"
 	  	   description= "C/C++ run program launcher" />

	<launcher  id="com.ibm.cpp.ui.launchers.CppAttachLauncher"
	   	   class="com.ibm.cpp.ui.internal.launchers.CppAttachLauncher"
	  	   modes="debug"
 	  	   label= "Attach to C/C++ Application"
 	  	   public= "true"
 	  	   description= "C/C++ attach to program launcher" />
</extension>

<extension
	point="org.eclipse.ui.perspectives">
   <perspective
	id="com.ibm.cpp.ui.CppPerspective"
	name="%CppPerspective"
	class="com.ibm.cpp.ui.internal.views.CppPerspective">
   </perspective>
<!--
   <perspective
	id="com.ibm.cpp.ui.MinersPerspective"
	name="%Miner_Development"
	class="com.ibm.cpp.ui.internal.views.MinersPerspective">
   </perspective>
-->
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.ui.resourcePerspective">
		<perspectiveShortcut id="com.ibm.cpp.ui.CppPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.vcm.ui.vcmPerspective">
		<perspectiveShortcut id="com.ibm.cpp.ui.CppPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="com.ibm.cpp.ui.CppPerspective">
		<perspectiveShortcut id="com.ibm.cpp.ui.CppPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="com.ibm.cpp.ui.CppPerspective">
		<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.ui.resourcePerspective">
		<perspectiveShortcut id="com.ibm.cpp.ui.CppPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<perspectiveShortcut id="com.ibm.cpp.ui.CppPerspective"/>
	</perspectiveExtension>
</extension>

<extension
	point="org.eclipse.ui.views">
	<category
	   id="com.ibm.cpp.ui.cpp"
	   name="&amp;C++">
	</category>
	<view
		id="com.ibm.cpp.ui.DetailsViewPart"
		name="%Details"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/details.gif"
		class="com.ibm.cpp.ui.internal.views.DetailsViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.SelectedObjectViewPart"
		name="Selected Object"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/details.gif"
		class="com.ibm.cpp.ui.internal.editor.contentoutliner.SelectedObjectViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.SuperDetailsViewPart"
		name="%More_Details"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/details.gif"
		class="com.ibm.cpp.ui.internal.views.SuperDetailsViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.CppCommandViewPart"
		name="%Commands"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/commands.gif"
		class="com.ibm.cpp.ui.internal.views.CppCommandViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.CppOutputViewPart"
		name="%C/C++ Output"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/output.gif"
		class="com.ibm.cpp.ui.internal.views.CppOutputViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.ProjectObjectsViewPart"
		name="%Project_Objects"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/objects.gif"
		class="com.ibm.cpp.ui.internal.views.ProjectObjectsViewPart">
	</view>
        <view
		id="com.ibm.cpp.ui.SystemObjectsViewPart"
		name="%System_Objects"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/objects.gif"
		class="com.ibm.cpp.ui.internal.views.SystemObjectsViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.ParsedSourceViewPart"
		name="%Parsed_Files"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/Parsed Source.gif"
		class="com.ibm.cpp.ui.internal.views.ParsedSourceViewPart">
	</view>
<!--
	<view
		id="com.ibm.cpp.ui.SchemaViewPart"
		name="%Schema"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/schema.gif"
		class="com.ibm.cpp.ui.internal.views.SchemaViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.MinersViewPart"
		name="%Miners"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/miners.gif"
		class="com.ibm.cpp.ui.internal.views.MinersViewPart">
	</view>
	<view
		id="com.ibm.cpp.ui.LogViewPart"
		name="%Log"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/log.gif"
		class="com.ibm.cpp.ui.internal.views.LogViewPart">
	</view>
-->
	<view
		id="com.ibm.cpp.ui.Targets"
		name="%Run_Specifications"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/objects.gif"
		class="com.ibm.cpp.ui.internal.views.targets.Targets">
	</view>
        <view
		id="com.ibm.cpp.ui.CppProjectsViewPart"
		name="%C++_Projects"
		category="com.ibm.cpp.ui.cpp"
		icon="icons/objects.gif"
		class="com.ibm.cpp.ui.internal.views.CppProjectsViewPart">
	</view>
</extension>


  <extension point = "org.eclipse.ui.popupMenus">
        <objectContribution
           id="com.ibm.cpp.ui.internal.menu"
           objectClass="org.eclipse.core.resources.IFile">
	   <menu
		id="makefileMenu"
		path="additions"
		label="%Makefile___">
		<separator name = "makefileMenu"/>
	   </menu>
	   <action
              id="designate"
	      label="%Designate"
	      menubarPath="makefileMenu/designateGroup"
	      class="com.ibm.cpp.ui.internal.actions.CppActionDelegateDesignate"	
	      enablesFor="1">
	   </action>
	   <action
              id="com.ibm.cpp.ui.internal.action1"
	      label="%Undesignate"
	      menubarPath="makefileMenu/designateGroup"
	      class="com.ibm.cpp.ui.internal.actions.CppActionDelegateUnDesignate"	
	      enablesFor="1">
	   </action>
	   <action
              id="com.ibm.cpp.ui.internal.action2"
	      label="%Build"
	      menubarPath="makefileMenu/designateGroup"
	      class="com.ibm.cpp.ui.internal.actions.CppActionDelegateBuild"	
	      enablesFor="1">
	   </action>
	</objectContribution>

        <objectContribution
           id="com.ibm.cpp.ui.internal.menu4"
           objectClass="org.eclipse.core.resources.IFolder">
	   <menu
		id="folderCommandMenu"
		path="additions"
		label="%Issue_Command___">
		<separator name = "folderCommandMenu"/>
	   </menu>
	   <action
              id="com.ibm.cpp.ui.internal.actionFolderBuild"
	      label="%Command"
	      menubarPath="folderCommandMenu/folderCommandGroup"
	      class="com.ibm.cpp.ui.internal.actions.CppActionDelegateFolderBuild"	
	      enablesFor="1">
	   </action>
	</objectContribution>
        <objectContribution
           id="com.ibm.cpp.ui.internal.menu5"
           objectClass="org.eclipse.core.resources.IFile">
	   <menu
		id="fileParseMenu"
		path="additions"
		label="%Parse">
		<separator name = "fileParseMenu"/>
	   </menu>
	   <action
              id="com.ibm.cpp.ui.internal.actionParse0"
	      label="%File"
	      menubarPath="fileParseMenu/ParseGroup"
              class="com.ibm.cpp.ui.internal.actions.ParseAction"
	      enablesFor="1">
	   </action>
	</objectContribution>
        <objectContribution
           id="com.ibm.cpp.ui.internal.menu6"
           objectClass="org.eclipse.core.resources.IFolder">
	   <menu
		id="folderParseMenu"
		path="additions"
		label="%Parse___">
		<separator name = "folderParseMenu"/>
	   </menu>
	   <action
              id="com.ibm.cpp.ui.internal.actionParse1"
	      label="%Folder"
	      menubarPath="folderParseMenu/ParseGroup"
              class="com.ibm.cpp.ui.internal.actions.ParseAction"
	      enablesFor="1">
	   </action>
	</objectContribution>
        <objectContribution
           id="com.ibm.cpp.ui.internal.menu7"
           objectClass="org.eclipse.core.resources.IProject">
	   <menu
		id="parseMenu"
		path="additions"
		label="%Parse___">
		<separator name = "parseMenu"/>
	   </menu>
	   <action
              id="com.ibm.cpp.ui.internal.actionClean"
	      label="%Clean_Parse"
	      menubarPath="parseMenu/ParseGroup"
              class="com.ibm.cpp.ui.internal.actions.ClearAction"
	      enablesFor="1">
	   </action>
	   <action
              id="com.ibm.cpp.ui.internal.actionSave"
	      label="%Save_Parse"
	      menubarPath="parseMenu/ParseGroup"
              class="com.ibm.cpp.ui.internal.actions.SaveAction"
	      enablesFor="1">
	   </action>
	   <action
              id="com.ibm.cpp.ui.internal.actionParse2"
	      label="%Project"
	      menubarPath="parseMenu/ParseGroup"
	      class="com.ibm.cpp.ui.internal.actions.ParseAction"
	      enablesFor="1">
	   </action>
	</objectContribution>
        <objectContribution
           id="com.ibm.cpp.ui.internal.menu9"
           objectClass="org.eclipse.core.resources.IProject">
	   <action
              id="com.ibm.cpp.ui.internal.views.targets.CreateTargetAction"
	      label="Create Specification"
	      path="additions"
	      class="com.ibm.cpp.ui.internal.views.targets.CreateTargetAction"	
	      enablesFor="1">
	   </action>
	   <action
              id="convert"
	      label="Support C/C++"
	      path="additions"
	      class="com.ibm.cpp.ui.internal.actions.ConvertToCppProject"	
	      enablesFor="1">
	   </action>

	</objectContribution>
  </extension>

  <extension point = "org.eclipse.ui.editors">
	<editor
        	id = "com.ibm.cpp.ui.internal.editor.CppEditor"
      		name="%Lpex_Editor"
		icon="icons/lpex.gif"
      		extensions="app,asm,c,cc,cpp,cpy,cxx,h,hh,hla,hpp,inc,inl,am,in,dat"
      		class="com.ibm.cpp.ui.internal.editor.CppEditor"
		contributorClass="com.ibm.cpp.ui.internal.editor.contributor.CppEditorContextContributor">
	</editor>
   </extension>

<extension point="org.eclipse.core.resources.builders"
      	id="cppbuilder"
	name="%C++_Builder">
	<builder>
		<run class="com.ibm.cpp.ui.internal.builder.CppBuilder">
		</run>
	</builder>
</extension>


<extension
	point="org.eclipse.ui.newWizards">
	<category
	   id="com.ibm.cpp.ui.cpp"
	   name="%C++">
	</category>
	<wizard
	   id="com.ibm.cpp.ui.wizards.CppNewProjectResourceWizard"
	   name="%C++_Project"
	   availableAsShortcut="true"
	   class="com.ibm.cpp.ui.internal.wizards.CppNewProjectResourceWizard"
	   category="com.ibm.cpp.ui.cpp"
	   project="true"
	   finalPerspective="com.ibm.cpp.ui.CppPerspective"
	   icon="icons/newprj_wiz.gif">
           <description>%Create_a_C++_Project</description>
        </wizard>
</extension>


<extension
	point="org.eclipse.ui.propertyPages">
	<page
		id="com.ibm.cpp.ui.internal.builder.BuildPropertyPage"
		name="%Build_Invocation"
		objectClass="org.eclipse.core.resources.IProject"
		class="com.ibm.cpp.ui.internal.builder.BuildPropertyPage">
	       <filter name="nature" value="com.ibm.cpp.ui.cppnature"/>
        </page>
	<page
		id="com.ibm.cpp.ui.internal.builder.ParsePathPropertyPage"
		name="%Parse_Include_Path"
		objectClass="org.eclipse.core.resources.IProject"
		class="com.ibm.cpp.ui.internal.builder.ParsePathPropertyPage">
	       <filter name="nature" value="com.ibm.cpp.ui.cppnature"/>
        </page>
	<page
		id="com.ibm.cpp.ui.internal.builder.ParseQualityPropertyPage"
		name="%Parse_Quality"
		objectClass="org.eclipse.core.resources.IProject"
		class="com.ibm.cpp.ui.internal.builder.ParseQualityPropertyPage">
	       <filter name="nature" value="com.ibm.cpp.ui.cppnature"/>
        </page>
	<page
		id="com.ibm.cpp.ui.internal.builder.AutoParsePropertyPage"
		name="%Parse_Behaviour"
		objectClass="org.eclipse.core.resources.IProject"
		class="com.ibm.cpp.ui.internal.builder.AutoParsePropertyPage">
	       <filter name="nature" value="com.ibm.cpp.ui.cppnature"/>
        </page>
	<page
		id="com.ibm.cpp.ui.internal.builder.EnvironmentPropertyPage"
		name="%Environment"
		objectClass="org.eclipse.core.resources.IProject"
		class="com.ibm.cpp.ui.internal.builder.EnvironmentPropertyPage">
	       <filter name="nature" value="com.ibm.cpp.ui.cppnature"/>
        </page>
	<page
		id="com.ibm.cpp.ui.internal.builder.RemotePropertyPage"
		name="Remote Properties"
		objectClass="com.ibm.cpp.ui.internal.vcm.Repository"
		class="com.ibm.cpp.ui.internal.builder.RemotePropertyPage">
	       <filter name="nature" value="com.ibm.cpp.ui.cppnature"/>
        </page>
</extension>

<extension point="org.eclipse.search.searchPages">
   <page  id="com.ibm.cpp.ui.CppSearchPage"
         icon="icons/search.gif"
         label="%C++_Search"
		 sizeHint="400,240"
		 extensions="cpp:90, C:90, c:90, hpp:90, H:90, h:90, *:1"
		 class="com.ibm.cpp.ui.internal.views.search.CppSearchPage">
   </page>
</extension>
 
<extension id="cppsearchmarker" point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.core.resources.searchmarker"/>
	<attribute name="DataElementID"/>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%C++"
		id="com.ibm.cpp.ui.internal.preferences.CppBasePreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.CppBasePreferencePage">
	</page>
	<page name="%Default_Environment"
		id="com.ibm.cpp.ui.internal.preferences.EnvironmentPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.EnvironmentPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.CppBasePreferencePage">
	</page>
	<page name="%Default_Build_Invocation"
		id="com.ibm.cpp.ui.internal.preferences.DefaultBuildPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.DefaultBuildPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.CppBasePreferencePage">
	</page>	
       <page name="%Parser"
	  id="com.ibm.cpp.ui.internal.preferences.ParserPreferencePage"
          class="com.ibm.cpp.ui.internal.preferences.ParserPreferencePage"
          category="com.ibm.cpp.ui.internal.preferences.CppBasePreferencePage">
       </page>
	<page name="%Default_Parse_Include_Path"
		id="com.ibm.cpp.ui.internal.preferences.ParserPathPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.ParserPathPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.ParserPreferencePage">
	</page>	
	<page name="%Default_Parse_Quality"
		id="com.ibm.cpp.ui.internal.preferences.ParserQualityPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.ParserQualityPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.ParserPreferencePage">
	</page>	
	<page name="%Views"
		id="com.ibm.cpp.ui.internal.preferences.ViewPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.ViewPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.CppBasePreferencePage">
	</page>	
	<page name="%Generic_Views"
		id="com.ibm.cpp.ui.internal.preferences.GenericViewPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.GenericViewPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.ViewPreferencePage">
	</page>	
	<page name="%Project_Objects_View"
		id="com.ibm.cpp.ui.internal.preferences.ProjectObjectsViewPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.ProjectObjectsViewPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.ViewPreferencePage">
	</page>	
	<page name="%Output_View"
		id="com.ibm.cpp.ui.internal.preferences.OutputViewPreferencePage"
		class="com.ibm.cpp.ui.internal.preferences.OutputViewPreferencePage"
		category= "com.ibm.cpp.ui.internal.preferences.ViewPreferencePage">
	</page>	
</extension>

<extension
	point="org.eclipse.ui.actionSets">
	<actionSet 
		id="com.ibm.cpp.ui.CppActionSet"
		label="C/C++"
		visible="true"
		description="C/C++ Action Set">
		<action id="com.ibm.cpp.ui.ParseAction"
			toolbarPath="Normal/C++"			
			label="Parse"
			tooltip="Parse"
			icon="icons/parse.gif"
			class="com.ibm.cpp.ui.internal.actions.ParseAction"/>
		<action id="com.ibm.cpp.ui.CancelAction"
			toolbarPath="Normal/C++"			
			label="Cancel"
			tooltip="Cancel Running Jobs"
			icon="icons/cancel.gif"
			class="com.ibm.cpp.ui.internal.actions.CancelAction"/>
	</actionSet>

</extension>
	


</plugin>




