<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.cpp.ui"
   name="%pluginName"
   version="2.0.0"
   vendor-name = "International Business Machines Corp." 
   class="org.eclipse.cdt.cpp.ui.internal.CppPlugin">
<requires>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.swt"/>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.core.boot"/>
   <import plugin="com.ibm.lpex"/>
   <import plugin="com.ibm.debug"/>
   <import plugin="com.ibm.debug.daemon"/>
   <import plugin="org.eclipse.search"/>
   <import plugin="org.eclipse.help"/>
   <import plugin="org.eclipse.debug.core"/>
   <import plugin="org.eclipse.debug.ui"/>
   <import plugin="org.eclipse.core.target"/>
   <import plugin="org.eclipse.cdt.dstore.miners"/>
   <import plugin="org.eclipse.cdt.cpp.miners"/>
   <import plugin="org.eclipse.cdt.cpp.miners.parser"/>
   <import plugin="org.eclipse.cdt.dstore.extra"/>
   <import plugin="org.eclipse.cdt.dstore.core"/>
   <import plugin="org.eclipse.cdt.dstore.ui"/>
   <import plugin="org.eclipse.cdt.dstore.hosts"/>
   <import plugin="org.eclipse.cdt.linux.help"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="cpp_ui.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- C++ Project Nature -->
<extension
      id="cppnature"
      name="C/C++ Project Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.eclipse.cdt.cpp.ui.internal.CppProject">
      </run>
   </runtime>
</extension>
<!-- Launchers -->
<extension
      point="org.eclipse.debug.core.launchers">
   <launcher
         label="Start a C/C++ Application"
         description="C/C++ debug program launcher"
         modes="debug"
         class="org.eclipse.cdt.cpp.ui.internal.launchers.CppLoadLauncher"
         public="true"
         id="org.eclipse.cdt.cpp.ui.launchers.CppLoadLauncher">
   </launcher>
   <launcher
         label="C/C++ Application"
         description="C/C++ run program launcher"
         modes="run"
         class="org.eclipse.cdt.cpp.ui.internal.launchers.CppRunLauncher"
         public="true"
         id="org.eclipse.cdt.cpp.ui.launchers.CppRunLauncher">
   </launcher>
   <launcher
         label="Attach to C/C++ Application"
         description="C/C++ attach to program launcher"
         modes="debug"
         class="org.eclipse.cdt.cpp.ui.internal.launchers.CppAttachLauncher"
         public="true"
         id="org.eclipse.cdt.cpp.ui.launchers.CppAttachLauncher">
   </launcher>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         name="%CppPerspective"
         icon="icons/full/cview16/c_perspective.gif"
         class="org.eclipse.cdt.cpp.ui.internal.views.CppPerspective"
         id="org.eclipse.cdt.cpp.ui.CppPerspective">
   </perspective>
   <perspective
         name="%CppBrowsePerspective"
         icon="icons/full/cview16/c_perspective.gif"
         class="org.eclipse.cdt.cpp.ui.internal.views.CppBrowsePerspective"
         id="org.eclipse.cdt.cpp.ui.CppBrowsePerspective">
   </perspective>
   <perspective
         name="%CppObjectPerspective"
         icon="icons/full/cview16/c_perspective.gif"
         class="org.eclipse.cdt.cpp.ui.internal.views.CppObjectPerspective"
         id="org.eclipse.cdt.cpp.ui.CppObjectPerspective">
   </perspective>
  
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="org.eclipse.ui.resourcePerspective">
      <perspectiveShortcut
            id="org.eclipse.cdt.cpp.ui.CppPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.vcm.ui.vcmPerspective">
      <perspectiveShortcut
            id="org.eclipse.cdt.cpp.ui.CppPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.cdt.cpp.ui.CppPerspective">
      <perspectiveShortcut
            id="org.eclipse.cdt.cpp.ui.CppPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.cdt.cpp.ui.CppPerspective">
      <perspectiveShortcut
            id="org.eclipse.debug.ui.DebugPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.ui.resourcePerspective">
      <perspectiveShortcut
            id="org.eclipse.cdt.cpp.ui.CppPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.debug.ui.DebugPerspective">
      <perspectiveShortcut
            id="org.eclipse.cdt.cpp.ui.CppPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         name="&amp;C++"
         id="org.eclipse.cdt.cpp.ui.cpp">
   </category>
   <view
         name="%Details"
         icon="icons/full/cview16/details_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.DetailsViewPart"
         id="org.eclipse.cdt.cpp.ui.DetailsViewPart">
   </view>
   <view
         name="Selected Object"
         icon="icons/full/cview16/details_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.editor.contentoutliner.SelectedObjectViewPart"
         id="org.eclipse.cdt.cpp.ui.SelectedObjectViewPart">
   </view>
   <view
         name="%More_Details"
         icon="icons/full/cview16/details_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.SuperDetailsViewPart"
         id="org.eclipse.cdt.cpp.ui.SuperDetailsViewPart">
   </view>
   <view
         name="%Commands"
         icon="icons/full/cview16/command_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.CppCommandViewPart"
         id="org.eclipse.cdt.cpp.ui.CppCommandViewPart">
   </view>
   <view
         name="%C/C++ Output"
         icon="icons/full/cview16/outgoing_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.CppOutputViewPart"
         id="org.eclipse.cdt.cpp.ui.CppOutputViewPart">
   </view>
   <view
         name="%Project_Objects"
         icon="icons/full/cview16/projectobject_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.ProjectObjectsViewPart"
         id="org.eclipse.cdt.cpp.ui.ProjectObjectsViewPart">
   </view>
   <view
         name="%System_Objects"
         icon="icons/full/cview16/systemobject_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.SystemObjectsViewPart"
         id="org.eclipse.cdt.cpp.ui.SystemObjectsViewPart">
   </view>
   <view
         name="%Parsed_Files"
         icon="icons/full/cview16/parse_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.ParsedSourceViewPart"
         id="org.eclipse.cdt.cpp.ui.ParsedSourceViewPart">
   </view>
<!--
	<view
		id="org.eclipse.cdt.cpp.ui.SchemaViewPart"
		name="%Schema"
		category="org.eclipse.cdt.cpp.ui.cpp"
		icon="icons/schema.gif"
		class="org.eclipse.cdt.cpp.ui.internal.views.SchemaViewPart">
	</view>
	<view
		id="org.eclipse.cdt.cpp.ui.MinersViewPart"
		name="%Miners"
		category="org.eclipse.cdt.cpp.ui.cpp"
		icon="icons/miners.gif"
		class="org.eclipse.cdt.cpp.ui.internal.views.MinersViewPart">
	</view>
	<view
		id="org.eclipse.cdt.cpp.ui.LogViewPart"
		name="%Log"
		category="org.eclipse.cdt.cpp.ui.cpp"
		icon="icons/log.gif"
		class="org.eclipse.cdt.cpp.ui.internal.views.LogViewPart">
	</view>
-->
   <view
         name="%Run_Specifications"
         icon="icons/full/cview16/targets_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.targets.Targets"
         id="org.eclipse.cdt.cpp.ui.Targets">
   </view>
   <view
         name="%C++_Projects"
         icon="icons/full/cview16/cproject_view.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.views.CppProjectsViewPart"
         id="org.eclipse.cdt.cpp.ui.CppProjectsViewPart">
   </view>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         objectClass="org.eclipse.core.resources.IFile"
         id="org.eclipse.cdt.cpp.ui.internal.menu">
      <filter name="projectNature" value="org.eclipse.cdt.cpp.ui.cppnature"/>
      <menu
            label="%Makefile___"
            path="additions"
            id="makefileMenu">
         <separator
               name="makefileMenu">
         </separator>
      </menu>
      <action
            label="%Designate"
            class="org.eclipse.cdt.cpp.ui.internal.actions.CppActionDelegateDesignate"
            menubarPath="makefileMenu/designateGroup"
            enablesFor="1"
            id="designate">
      </action>
      <action
            label="%Undesignate"
            class="org.eclipse.cdt.cpp.ui.internal.actions.CppActionDelegateUnDesignate"
            menubarPath="makefileMenu/designateGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.action1">
      </action>
      <action
            label="%Build"
            class="org.eclipse.cdt.cpp.ui.internal.actions.CppActionDelegateBuild"
            menubarPath="makefileMenu/designateGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.action2">
      </action>
   </objectContribution>
   <objectContribution
         objectClass="org.eclipse.core.resources.IFolder"
         id="org.eclipse.cdt.cpp.ui.internal.menu4">
      <filter name="projectNature" value="org.eclipse.cdt.cpp.ui.cppnature"/>
    
      <menu
            label="%Issue_Command___"
            path="additions"
            id="folderCommandMenu">
         <separator
               name="folderCommandMenu">
         </separator>
      </menu>
      <action
            label="%Command"
            class="org.eclipse.cdt.cpp.ui.internal.actions.CppActionDelegateFolderBuild"
            menubarPath="folderCommandMenu/folderCommandGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.actionFolderBuild">
      </action>
   </objectContribution>
   <objectContribution
         objectClass="org.eclipse.core.resources.IFile"
         id="org.eclipse.cdt.cpp.ui.internal.menu5">
      <filter name="projectNature" value="org.eclipse.cdt.cpp.ui.cppnature"/>
      <menu
            label="%Parse"
            path="additions"
            id="fileParseMenu">
         <separator
               name="fileParseMenu">
         </separator>
      </menu>
      <action
            label="%File"
            class="org.eclipse.cdt.cpp.ui.internal.actions.ParseAction"
            menubarPath="fileParseMenu/ParseGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.actionParse0">
      </action>
   </objectContribution>
   <objectContribution
         objectClass="org.eclipse.core.resources.IFolder"
         id="org.eclipse.cdt.cpp.ui.internal.menu6">
      <filter name="projectNature" value="org.eclipse.cdt.cpp.ui.cppnature"/> 
      <menu
            label="%Parse___"
            path="additions"
            id="folderParseMenu">
         <separator
               name="folderParseMenu">
         </separator>
      </menu>
      <action
            label="%Folder"
            class="org.eclipse.cdt.cpp.ui.internal.actions.ParseAction"
            menubarPath="folderParseMenu/ParseGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.actionParse1">
      </action>
   </objectContribution>
   <objectContribution
         objectClass="org.eclipse.core.resources.IProject"
         id="org.eclipse.cdt.cpp.ui.internal.menu7">
      <filter name="projectNature" value="org.eclipse.cdt.cpp.ui.cppnature"/>
      <menu
            label="%Parse___"
            path="additions"
            id="parseMenu">
         <separator
               name="parseMenu">
         </separator>
      </menu>
      <action
            label="%Clean_Parse"
            class="org.eclipse.cdt.cpp.ui.internal.actions.ClearAction"
            menubarPath="parseMenu/ParseGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.actionClean">
      </action>
      <action
            label="%Save_Parse"
            class="org.eclipse.cdt.cpp.ui.internal.actions.SaveAction"
            menubarPath="parseMenu/ParseGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.actionSave">
      </action>
      <action
            label="%Project"
            class="org.eclipse.cdt.cpp.ui.internal.actions.ParseAction"
            menubarPath="parseMenu/ParseGroup"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.actionParse2">
      </action>
   </objectContribution>
     <objectContribution
         objectClass="org.eclipse.core.resources.IProject"
         id="org.eclipse.cdt.cpp.ui.internal.menu9">
      <filter name="projectNature" value="org.eclipse.cdt.cpp.ui.cppnature"/>    
      <action
            label="Create Specification"
            class="org.eclipse.cdt.cpp.ui.internal.views.targets.CreateTargetAction"
            path="additions"
            enablesFor="1"
            id="org.eclipse.cdt.cpp.ui.internal.views.targets.CreateTargetAction">            
      </action>
  </objectContribution>
  <objectContribution
         objectClass="org.eclipse.core.resources.IProject"
         id="org.eclipse.cdt.cpp.ui.internal.menu10">   
      <action
            label="Support C/C++"
            class="org.eclipse.cdt.cpp.ui.internal.actions.ConvertToCppProject"
            path="additions"
            enablesFor="1"
            id="convert">
      </action>
   </objectContribution>
   
</extension>     
<extension
      point="org.eclipse.ui.editors">
   <editor
         name="%Lpex_Editor"
         icon="icons/full/obj16/lpex_obj.gif"
         extensions="app,asm,c,cc,cpp,cpy,cxx,h,hh,hla,hpp,inc,inl,am,in,dat"
         contributorClass="org.eclipse.cdt.cpp.ui.internal.editor.contributor.CppEditorContextContributor"
         class="org.eclipse.cdt.cpp.ui.internal.editor.CppEditor"
         id="org.eclipse.cdt.cpp.ui.internal.editor.CppEditor">
   </editor>
</extension>
<extension
      id="cppbuilder"
      name="%C++_Builder"
      point="org.eclipse.core.resources.builders">
   <builder>
      <run
            class="org.eclipse.cdt.cpp.ui.internal.builder.CppBuilder">
      </run>
   </builder>
</extension>
<extension
      point="org.eclipse.ui.newWizards">
   <category
         name="%C++"
         id="org.eclipse.cdt.cpp.ui.cpp">
   </category>
   <wizard
         availableAsShortcut="true"
         name="%C++_Project"
         icon="icons/full/ctool16/cproject_wiz.gif"
         category="org.eclipse.cdt.cpp.ui.cpp"
         class="org.eclipse.cdt.cpp.ui.internal.wizards.CppNewProjectResourceWizard"
         project="true"
         finalPerspective="org.eclipse.cdt.cpp.ui.CppPerspective"
         id="org.eclipse.cdt.cpp.ui.wizards.CppNewProjectResourceWizard">
      <description>
         %Create_a_C++_Project
      </description>
   </wizard>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%Build_Invocation"
         class="org.eclipse.cdt.cpp.ui.internal.builder.BuildPropertyPage"
         id="org.eclipse.cdt.cpp.ui.internal.builder.BuildPropertyPage">
      <filter
            name="nature"
            value="org.eclipse.cdt.cpp.ui.cppnature">
      </filter>
   </page>
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%Parse_Include_Path"
         class="org.eclipse.cdt.cpp.ui.internal.builder.ParsePathPropertyPage"
         id="org.eclipse.cdt.cpp.ui.internal.builder.ParsePathPropertyPage">
      <filter
            name="nature"
            value="org.eclipse.cdt.cpp.ui.cppnature">
      </filter>
   </page>
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%Parse_Quality"
         class="org.eclipse.cdt.cpp.ui.internal.builder.ParseQualityPropertyPage"
         id="org.eclipse.cdt.cpp.ui.internal.builder.ParseQualityPropertyPage">
      <filter
            name="nature"
            value="org.eclipse.cdt.cpp.ui.cppnature">
      </filter>
   </page>
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%Parse_Behaviour"
         class="org.eclipse.cdt.cpp.ui.internal.builder.AutoParsePropertyPage"
         id="org.eclipse.cdt.cpp.ui.internal.builder.AutoParsePropertyPage">
      <filter
            name="nature"
            value="org.eclipse.cdt.cpp.ui.cppnature">
      </filter>
   </page>
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%Environment"
         class="org.eclipse.cdt.cpp.ui.internal.builder.EnvironmentPropertyPage"
         id="org.eclipse.cdt.cpp.ui.internal.builder.EnvironmentPropertyPage">
      <filter
            name="nature"
            value="org.eclipse.cdt.cpp.ui.cppnature">
      </filter>
   </page>
   <page
         objectClass="org.eclipse.cdt.cpp.ui.internal.vcm.Repository"
         name="Remote Properties"
         class="org.eclipse.cdt.cpp.ui.internal.builder.RemotePropertyPage"
         id="org.eclipse.cdt.cpp.ui.internal.builder.RemotePropertyPage">
      <filter
            name="nature"
            value="org.eclipse.cdt.cpp.ui.cppnature">
      </filter>
   </page>
</extension>
<extension
      point="org.eclipse.search.searchPages">
   <page
         label="%C++_Search"
         icon="icons/full/obj16/c_search.gif"
         extensions="cpp:90, C:90, c:90, hpp:90, H:90, h:90, *:1"
         class="org.eclipse.cdt.cpp.ui.internal.views.search.CppSearchPage"
         sizeHint="400,240"
         id="org.eclipse.cdt.cpp.ui.CppSearchPage">
   </page>
</extension>
<extension
      id="cppsearchmarker"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.searchmarker">
   </super>
   <attribute
         name="DataElementID">
   </attribute>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         name="%C++"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage">
   </page>
   <page
         name="%Default_Environment"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.EnvironmentPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.EnvironmentPreferencePage">
   </page>
   <page
         name="%Default_Build_Invocation"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.DefaultBuildPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.DefaultBuildPreferencePage">
   </page>
   <page
         name="%Parser"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.ParserPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.ParserPreferencePage">
   </page>
   <page
         name="%Default_Parse_Include_Path"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.ParserPreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.ParserPathPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.ParserPathPreferencePage">
   </page>
   <page
         name="%Default_Parse_Quality"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.ParserPreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.ParserQualityPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.ParserQualityPreferencePage">
   </page>
   <page
         name="%Views"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.ViewPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.ViewPreferencePage">
   </page>
   <page
         name="%Generic_Views"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.ViewPreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.GenericViewPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.GenericViewPreferencePage">
   </page>
   <page
         name="%Project_Objects_View"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.ViewPreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.ProjectObjectsViewPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.ProjectObjectsViewPreferencePage">
   </page>
   <page
         name="%Output_View"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.ViewPreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.OutputViewPreferencePage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.OutputViewPreferencePage">
   </page>
     <page
         name="%Autoconf"
         category="org.eclipse.cdt.cpp.ui.internal.preferences.CppBasePreferencePage"
         class="org.eclipse.cdt.cpp.ui.internal.preferences.AutoconfPreferencesPage"
         id="org.eclipse.cdt.cpp.ui.internal.preferences.AutoconfPreferencesPage">
   </page>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         label="C/C++"
         description="C/C++ Action Set"
         visible="true"
         id="org.eclipse.cdt.cpp.ui.CppActionSet">
      <action
            label="Parse"
            icon="icons/full/clcl16/parse_exe.gif"
            tooltip="Parse"
            class="org.eclipse.cdt.cpp.ui.internal.actions.ParseAction"
            toolbarPath="Normal/C++"
            id="org.eclipse.cdt.cpp.ui.ParseAction">
      </action>
      <action
            label="Cancel"
            icon="icons/full/clcl16/stop_exe.gif"
            tooltip="Cancel Running Jobs"
            class="org.eclipse.cdt.cpp.ui.internal.actions.CancelAction"
            toolbarPath="Normal/C++"
            id="org.eclipse.cdt.cpp.ui.CancelAction">
      </action>
   </actionSet>
</extension>
</plugin>
