<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="org.eclipse.cdt.windows.debug.cdi.ui.WinCDIDebuggerPage"
            debuggerID="org.eclipse.cdt.windows.debug.cdi.core.debugger"
            id="org.eclipse.cdt.windows.debug.cdi.ui.debuggerPage">
      </debuggerPage>
   </extension>

</plugin>
