<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            configurationEnvironmentSupplier="org.eclipse.cdt.csharp.msw.build.CSharpEnvironmentSupplier"
            id="org.eclipse.cdt.csharp.msw.toolChain.base"
            isAbstract="false"
            name="Microsoft Visual C#"
            targetTool="org.eclipse.cdt.csharp.msw.csc">
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.core.PE"
               id="org.eclipse.cdt.csharp.msw.targetPlatform"
               isAbstract="false"
               osList="win32">
         </targetPlatform>
         <builder
               id="org.eclipse.cdt.csharp.msw.builder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               superClass="org.eclipse.cdt.build.core.internal.builder">
         </builder>
         <tool
               command="csc"
               id="org.eclipse.cdt.csharp.msw.csc"
               name="C# Compiler"
               outputFlag="/out:">
            <supportedProperties>
               <property
                     id="org.eclipse.cdt.build.core.buildArtefactType">
                  <value
                        id="org.eclipse.cdt.build.core.buildArtefactType.exe"></value>
               </property>
            </supportedProperties>
            <inputType
                  id="org.eclipse.cdt.csharp.msw.csc.inputType"
                  multipleOfType="true"
                  primaryInput="true"
                  sources="cs">
            </inputType>
            <outputType
                  id="org.eclipse.cdt.csharp.msw.csc.outputType"
                  outputs="exe">
            </outputType>
         </tool>
      </toolChain>
      <configuration
            artifactExtension="exe"
            id="org.eclipse.cdt.csharp.msw.configuration.base">
      </configuration>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="org.eclipse.cdt.csharp.msw.projectType.exe"
            >
         <configuration
               id="org.eclipse.cdt.csharp.msw.configuration.exe.debug"
               name="Debug"
               parent="org.eclipse.cdt.csharp.msw.configuration.base">
            <toolChain
                  id="org.eclipse.cdt.csharp.msw.toolChain.exe.debug"
                  superClass="org.eclipse.cdt.csharp.msw.toolChain.base">
               <targetPlatform
                     id="org.eclipse.cdt.csharp.msw.targetPlatform.exe.debug"
                     superClass="org.eclipse.cdt.csharp.msw.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.eclipse.cdt.csharp.msw.csc.exe.debug"
                     superClass="org.eclipse.cdt.csharp.msw.csc">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
   </extension>

</plugin>
