<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="buildDefinitions" name="Build Definitions" schema="schema/buildDefinitions.exsd"/>
   <extension
         id="builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="true">
         <run
               class="org.eclipse.cdt.build.core.ProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.cdt.core.ScannerInfoProvider2">
      <provider
            builder="org.eclipse.cdt.build.core.builder"
            class="org.eclipse.cdt.internal.build.core.model.ScannerInfoProvider">
      </provider>
   </extension>

</plugin>
