<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="org.eclipse.cdt.internal.build.core.model.BuildAdapterFactory">
         <adapter
               type="org.eclipse.cdt.build.core.model.IBuildProject">
         </adapter>
      </factory>
   </extension>
   <extension
         id="builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="true">
         <run
               class="org.eclipse.cdt.build.core.ProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.cdt.core.ScannerInfoProvider2">
      <provider
            builder="org.eclipse.cdt.build.core.builder"
            class="org.eclipse.cdt.internal.build.core.model.ScannerInfoProvider">
      </provider>
   </extension>

</plugin>
