<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <buildDefinitionStartup
            class="org.eclipse.cdt.mingw.build.MingwManagedBuildDefinitionsStartup"
            name="org.eclipse.cdt.mingw.build.buildDefinitionStartup1">
      </buildDefinitionStartup>
      <managedBuildRevision
            fileVersion="1.0">
      </managedBuildRevision>
           <projectType      
            isAbstract="false"     
            isTest="false"
            name="%TargetName.mingw.exe"
            projectEnvironmentSupplier="org.eclipse.cdt.mingw.build.MingwProjectEnvironmentVariableSupplier"
            id="cdt.managedbuild.target.mingw.exe">
         <configuration
               artifactExtension="exe"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="cdt.managedbuild.config.mingw.exe.debug"
               name="%ConfigName.Dbg">
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Dbg"
                     targetTool="cdt.managedbuild.tool.mingw.c.linker.exe.debug;cdt.managedbuild.tool.mingw.cpp.linker.exe.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="cdt.managedbuild.toolchain.mingw.exe.debug">
		          <targetPlatform
		              id="cdt.managedbuild.target.mingw.platform.exe.debug"
		              name="%PlatformName.Dbg"
		              binaryParser="org.eclipse.cdt.core.PE"
		              osList="win32"
		              archList="all">
	              </targetPlatform>
				  <tool
                      id="cdt.managedbuild.tool.mingw.cpp.compiler.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.cpp.compiler">                         
                      <option
				          id="mingw.cpp.compiler.exe.debug.option.optimization.level"
                          defaultValue="gnu.cpp.compiler.optimization.level.none"
                          superClass="gnu.cpp.compiler.option.optimization.level">
                      </option>
                      <option
						  id="mingw.cpp.compiler.exe.debug.option.debugging.level"
                          defaultValue="gnu.cpp.compiler.debugging.level.max"
                          superClass="gnu.cpp.compiler.option.debugging.level">
                      </option>
                  </tool>
                  <tool
                      id="cdt.managedbuild.tool.mingw.c.compiler.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">                          
			  	      <option
					      id="mingw.c.compiler.exe.debug.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.none"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  <option   
					      id="mingw.c.compiler.exe.debug.option.debugging.level"					     
						  defaultValue="gnu.c.debugging.level.max"
					      superClass="gnu.c.compiler.option.debugging.level">
					  </option>
				  </tool>
                  <tool
                      id="cdt.managedbuild.tool.mingw.c.linker.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.c.linker">
                     <outputType
                           id="cdt.managedbuild.tool.mingw.c.linker.exe.debug.output"
                           outputs="exe"
                           superClass="cdt.managedbuild.tool.gnu.c.linker.output">
                     </outputType>
                  </tool> 
                  <tool
                      id="cdt.managedbuild.tool.mingw.cpp.linker.exe.debug"
                      superClass="cdt.managedbuild.tool.gnu.cpp.linker">
                      <outputType
                           id="cdt.managedbuild.tool.mingw.cpp.linker.exe.debug.output"
                           outputs="exe"
                           superClass="cdt.managedbuild.tool.gnu.cpp.linker.output">
                      </outputType>
                  </tool> 
				  <tool
					  id="cdt.managedbuild.tool.mingw.assembler.exe.debug"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
			  </toolChain>
         </configuration>
         <configuration
               artifactExtension="exe"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="cdt.managedbuild.config.mingw.exe.release"
               name="%ConfigName.Rel">               
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Rel"
                     targetTool="cdt.managedbuild.tool.mingw.c.linker.exe.release;cdt.managedbuild.tool.mingw.cpp.linker.exe.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="cdt.managedbuild.toolchain.mingw.exe.release">
		          <targetPlatform
		              id="cdt.managedbuild.target.mingw.platform.exe.release"
		              name="%PlatformName.Rel"		             
		              binaryParser="org.eclipse.cdt.core.PE"
		              osList="win32"
		              archList="all">		              
		          </targetPlatform>
                  <tool
                      id="cdt.managedbuild.tool.mingw.cpp.compiler.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.cpp.compiler">                     
					  <option
						  id="mingw.cpp.compiler.exe.release.option.optimization.level"
						  defaultValue="gnu.cpp.compiler.optimization.level.most"
						  superClass="gnu.cpp.compiler.option.optimization.level">
					  </option>
					  <option
						  id="mingw.cpp.compiler.exe.release.option.debugging.level"
						  defaultValue="gnu.cpp.compiler.debugging.level.none"
						  superClass="gnu.cpp.compiler.option.debugging.level">
					  </option>
                  </tool>
                  <tool
                      id="cdt.managedbuild.tool.mingw.c.compiler.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.c.compiler">                          
					  <option
						  id="mingw.c.compiler.exe.release.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.most"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  <option
						  id="mingw.c.compiler.exe.release.option.debugging.level"
						  defaultValue="gnu.c.debugging.level.none"
						  superClass="gnu.c.compiler.option.debugging.level">
					  </option>
                  </tool>
                  <tool
                      id="cdt.managedbuild.tool.mingw.c.linker.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.c.linker">
                      <outputType
                          id="cdt.managedbuild.tool.mingw.c.linker.exe.release.output"
                          outputs="exe"
                          superClass="cdt.managedbuild.tool.gnu.c.linker.output">
                      </outputType>
                  </tool> 
                  <tool
                      id="cdt.managedbuild.tool.mingw.cpp.linker.exe.release"
                      superClass="cdt.managedbuild.tool.gnu.cpp.linker">
                      <outputType
                          id="cdt.managedbuild.tool.mingw.cpp.linker.exe.release.output"
                          outputs="exe"
                          superClass="cdt.managedbuild.tool.gnu.cpp.linker.output">
                      </outputType>
                  </tool>  
				  <tool
					  id="cdt.managedbuild.tool.mingw.assembler.exe.release"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
               </toolChain>
         </configuration>
      </projectType>     
      
      <projectType
            id="cdt.managedbuild.target.mingw.dll"
            isAbstract="false"
            isTest="false"
            name="%TargetName.mingw.dll"
            projectEnvironmentSupplier="org.eclipse.cdt.mingw.build.MingwProjectEnvironmentVariableSupplier">
         <configuration
               name="%ConfigName.Dbg"
               artifactExtension="dll"               
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"                          
               id="cdt.managedbuild.config.mingw.dll.debug">
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Dbg"
                     targetTool="cdt.managedbuild.tool.mingw.c.linker.dll.debug;cdt.managedbuild.tool.mingw.cpp.linker.dll.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="cdt.managedbuild.toolchain.mingw.dll.debug">
		          <targetPlatform
		              id="cdt.managedbuild.target.mingw.platform.dll.debug"
		              name="%PlatformName.Dbg"
		              binaryParser="org.eclipse.cdt.core.PE"		            
		              osList="win32"
		              archList="all">
		          </targetPlatform>
				  <tool
				      id="cdt.managedbuild.tool.mingw.cpp.compiler.dll.debug"
					  superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
					  <option
					      id="mingw.cpp.compiler.dll.debug.option.optimization.level"
						  defaultValue="gnu.cpp.compiler.optimization.level.none"
						  superClass="gnu.cpp.compiler.option.optimization.level">
					  </option>
					  <option
					      id="mingw.cpp.compiler.dll.debug.option.debugging.level"
						  defaultValue="gnu.cpp.compiler.debugging.level.max"
						  superClass="gnu.cpp.compiler.option.debugging.level">
					  </option>
				  </tool>
				  <tool
				      id="cdt.managedbuild.tool.mingw.c.compiler.dll.debug"
					  superClass="cdt.managedbuild.tool.gnu.c.compiler">
					  <option
						  id="mingw.c.compiler.dll.debug.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.none"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  <option
					      id="mingw.c.compiler.dll.debug.option.debugging.level"
						  defaultValue="gnu.c.debugging.level.max"
						  superClass="gnu.c.compiler.option.debugging.level">
					  </option>
				  </tool>
				  <tool
				      id="cdt.managedbuild.tool.mingw.c.linker.dll.debug"
					  superClass="cdt.managedbuild.tool.gnu.c.linker">
					  <option
						  id="mingw.c.link.dll.debug.option.shared"
						  defaultValue="true"
						  superClass="gnu.c.link.option.shared">
					  </option>
			          <outputType
						  outputs="dll"
						  buildVariable="LIBRARIES"
			              superClass="cdt.managedbuild.tool.gnu.c.linker.output"
			              id="cdt.managedbuild.tool.mingw.c.linker.dll.debug.output">
			          </outputType>
				  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.cpp.linker.dll.debug"
					  superClass="cdt.managedbuild.tool.gnu.cpp.linker">
					  <option
						  id="mingw.cpp.link.dll.debug.option.shared"
						  defaultValue="true"
						  superClass="gnu.cpp.link.option.shared">
					  </option>
			          <outputType
						  outputs="dll"
						  buildVariable="LIBRARIES"
			              superClass="cdt.managedbuild.tool.gnu.cpp.linker.output"
			              id="cdt.managedbuild.tool.mingw.cpp.linker.dll.debug.output">
			          </outputType>
				  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.assembler.dll.debug"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
			   </toolChain>
         </configuration>
         <configuration
               name="%ConfigName.Rel"
               artifactExtension="dll"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="cdt.managedbuild.config.mingw.dll.release">
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Rel"
                     targetTool="cdt.managedbuild.tool.mingw.c.linker.dll.release;cdt.managedbuild.tool.mingw.cpp.linker.dll.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="cdt.managedbuild.toolchain.mingw.dll.release">
		          <targetPlatform
		              id="cdt.managedbuild.target.mingw.platform.dll.release"
		              name="%PlatformName.Rel"
		              binaryParser="org.eclipse.cdt.core.PE"		            
		              osList="win32"
		              archList="all">
		          </targetPlatform>
				  <tool
				      id="cdt.managedbuild.tool.mingw.cpp.compiler.dll.release"
					  superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
				      <option
				          id="mingw.cpp.compiler.dll.release.option.optimization.level"
						  defaultValue="gnu.cpp.compiler.optimization.level.most"
						  superClass="gnu.cpp.compiler.option.optimization.level">
				      </option>
				      <option
				          id="mingw.cpp.compiler.dll.release.option.debugging.level"
						  defaultValue="gnu.cpp.compiler.debugging.level.none"
						  superClass="gnu.cpp.compiler.option.debugging.level">
				      </option>
				  </tool>				
				  <tool				     
				      id="cdt.managedbuild.tool.mingw.c.compiler.dll.release"
					  superClass="cdt.managedbuild.tool.gnu.c.compiler">
				      <option
				          id="mingw.c.compiler.dll.release.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.most"
						  superClass="gnu.c.compiler.option.optimization.level">
				      </option>
				      <option
				          id="mingw.c.compiler.dll.release.option.debugging.level"
						  defaultValue="gnu.c.debugging.level.none"
						  superClass="gnu.c.compiler.option.debugging.level">
				      </option>
				  </tool>
				  <tool
				      id="cdt.managedbuild.tool.mingw.c.linker.dll.release"
					  superClass="cdt.managedbuild.tool.gnu.c.linker">
					  <option
						  id="mingw.c.link.dll.release.option.shared"
						  defaultValue="true"
						  superClass="gnu.c.link.option.shared">
					  </option>
			          <outputType
						  outputs="dll"
						  buildVariable="LIBRARIES"
			              superClass="cdt.managedbuild.tool.gnu.c.linker.output"
			              id="cdt.managedbuild.tool.mingw.c.linker.dll.release.output">
			          </outputType>
				  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.cpp.linker.dll.release"
					  superClass="cdt.managedbuild.tool.gnu.cpp.linker">
					  <option
						  id="mingw.cpp.link.dll.release.option.shared"
						  defaultValue="true"
						  superClass="gnu.cpp.link.option.shared">
					  </option>
			          <outputType
						  outputs="dll"
						  buildVariable="LIBRARIES"
			              superClass="cdt.managedbuild.tool.gnu.cpp.linker.output"
			              id="cdt.managedbuild.tool.mingw.cpp.linker.dll.release.output">
			          </outputType>
				  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.assembler.dll.release"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
			   </toolChain>  
         </configuration>         
      </projectType>
          
      <projectType
            id="cdt.managedbuild.target.mingw.lib"
            isAbstract="false"
            isTest="false"
            name="%TargetName.mingw.lib"
            projectEnvironmentSupplier="org.eclipse.cdt.mingw.build.MingwProjectEnvironmentVariableSupplier">                        
         <configuration
			   name="%ConfigName.Dbg"
			   artifactExtension="a"
			   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
			   id="cdt.managedbuild.config.mingw.lib.debug">
               <toolChain
                     archList="all"
                     osList="win32"
                     name="%ToolChainName.Dbg"
                     targetTool="cdt.managedbuild.tool.mingw.archiver.lib.debug"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="cdt.managedbuild.toolchain.mingw.lib.debug">
				  <targetPlatform
					  id="cdt.managedbuild.target.mingw.platform.lib.debug"
				 	  name="%PlatformName.Dbg"
					  binaryParser="org.eclipse.cdt.core.PE"		            
					  osList="win32"
					  archList="all">
				  </targetPlatform>
                  <tool
					  id="cdt.managedbuild.tool.mingw.cpp.compiler.lib.debug"
                      superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
					  <option
					      id="mingw.cpp.compiler.lib.debug.option.optimization.level"
					      defaultValue="gnu.cpp.compiler.optimization.level.none"
					      superClass="gnu.cpp.compiler.option.optimization.level">
					  </option>
					  <option
					      id="mingw.cpp.compiler.lib.debug.option.debugging.level"
					      defaultValue="gnu.cpp.compiler.debugging.level.max"
					      superClass="gnu.cpp.compiler.option.debugging.level">
					  </option>
                  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.c.compiler.lib.debug"
					  superClass="cdt.managedbuild.tool.gnu.c.compiler">
				      <option
					      id="mingw.c.compiler.lib.debug.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.none"
						  superClass="gnu.c.compiler.option.optimization.level">
				      </option>
				      <option
						  id="mingw.c.compiler.lib.debug.option.debugging.level"						
						  defaultValue="gnu.c.debugging.level.max"
						  superClass="gnu.c.compiler.option.debugging.level">
				      </option>
				  </tool>
			      <tool
		    		  id="cdt.managedbuild.tool.mingw.archiver.lib.debug"
			          superClass="cdt.managedbuild.tool.gnu.archiver">
				  </tool>                 
				  <tool
					  id="cdt.managedbuild.tool.mingw.assembler.lib.debug"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
               </toolChain>                 
         </configuration>
         <configuration
               name="%ConfigName.Rel"
               artifactExtension="a"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="cdt.managedbuild.config.mingw.lib.release">
               <toolChain
                     osList="win32"
                     name="%ToolChainName.Rel"
                     targetTool="cdt.managedbuild.tool.gnu.archiver.lib.release"
                     scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                     id="cdt.managedbuild.toolchain.mingw.lib.release">
		          <targetPlatform
		              id="cdt.managedbuild.target.mingw.platform.lib.release"
		              name="%PlatformName.Rel"
		              binaryParser="org.eclipse.cdt.core.PE"		            
		              osList="win32"
		              archList="all">
		          </targetPlatform>
				  <tool
					  id="cdt.managedbuild.tool.mingw.cpp.compiler.lib.release"
					  superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
					  <option
						  id="mingw.cpp.compiler.lib.release.option.optimization.level"
						  defaultValue="gnu.cpp.compiler.optimization.level.most"
						  superClass="gnu.cpp.compiler.option.optimization.level">
					  </option>
					  <option
						  id="mingw.cpp.compiler.lib.release.option.debugging.level"
						  defaultValue="gnu.cpp.compiler.debugging.level.none"
						  superClass="gnu.cpp.compiler.option.debugging.level">
					  </option>
				  </tool>
		          <tool
					  id="cdt.managedbuild.tool.mingw.c.compiler.lib.release"
					  superClass="cdt.managedbuild.tool.gnu.c.compiler">
					  <option
						  id="mingw.c.compiler.lib.release.option.optimization.level"
						  defaultValue="gnu.c.optimization.level.most"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  <option
						  id="mingw.c.compiler.lib.release.option.debugging.level"
					      defaultValue="gnu.c.debugging.level.none"
					      superClass="gnu.c.compiler.option.debugging.level">
					  </option>
				  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.archiver.lib.release"
				      superClass="cdt.managedbuild.tool.gnu.archiver">
				  </tool>
				  <tool
					  id="cdt.managedbuild.tool.mingw.assembler.lib.release"
					  superClass="cdt.managedbuild.tool.gnu.assembler">
				  </tool>   
               </toolChain>				  
         </configuration>                  
      </projectType>
   </extension>

</plugin>
