<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.cpp.miners"
   name="Cpp Miners Plugin"
   version="2.0.0"
   provider-name="International Business Machines Corp.">
<requires>
   <import plugin="org.eclipse.cdt.dstore.core"/>

   <!--These are needed by the HelpMiner-->
   <import plugin="org.apache.lucene" version="1.2.0"/>
   <import plugin="org.eclipse.tomcat" version="4.0.3"/>
   <import plugin="org.apache.xerces" version="4.0.3"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="cpp_miners.jar">
      <export name="*"/>
   </library>

   <!-- This is needed by the HelpMiner-->
   <library name="catalina.jar">
   </library>
</runtime>
</plugin>
