<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.cdt.cpp.miners"
   name="Cpp Miners Plugin"
   version="2.0.0">
<requires>
   <import plugin="org.eclipse.cdt.dstore.core"/>
</requires>

<runtime>
   <library name=".">
      <export name="*"/>
   </library>
   <library name="cpp_miners.jar">
      <export name="*"/>
   </library>
</runtime>
</plugin>
