<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision fileVersion="1.0"/>
      <tool
            command="cl /c"
            dependencyCalculator="org.eclipse.cdt.dotnet.build.DependencyGenerator"
            headerExtensions="h,hpp"
            id="org.eclipse.cdt.dotnet.cl"
            isAbstract="false"
            name="CL Compiler"
            natureFilter="both"
            outputFlag="/Fo"
            outputs="obj"
            sources="c,cpp">
         <envVarBuildPath
               pathDelimiter=";"
               pathType="buildpathInclude"
               variableList="INCLUDE"/>
         <envVarBuildPath
               pathDelimiter=";"
               pathType="buildpathLibrary"
               variableList="LIB"/>
         <optionCategory
               id="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               name="General"/>
         <option
               browseType="directory"
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               command="/I"
               id="org.eclipse.cdt.dotnet.cl.option.includes"
               isAbstract="false"
               name="Additional Include Directories"
               resourceFilter="all"
               valueType="includePath"/>
         <option
               browseType="directory"
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               command="/AI"
               id="org.eclipse.cdt.dotnet.cl.option.using"
               isAbstract="false"
               name="Resolve #using References"
               resourceFilter="all"
               valueType="stringList"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               id="org.eclipse.cdt.dotnet.cl.option.debugInfo"
               isAbstract="false"
               name="Debug Information Format"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.debugInfo.none"
                  isDefault="true"
                  name="Disabled"/>
            <enumeratedOptionValue
                  command="/Z7"
                  id="org.eclipse.cdt.dotnet.cl.option.debugInfo.c7"
                  isDefault="false"
                  name="C7 Compatible (/Z7)"/>
            <enumeratedOptionValue
                  command="/Zi"
                  id="org.eclipse.cdt.dotnet.cl.option.debugInfo.pdb"
                  isDefault="false"
                  name="Program Database (/Zi)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               command="/nologo"
               defaultValue="true"
               id="org.eclipse.cdt.dotnet.cl.option.nologo"
               isAbstract="false"
               name="Suppress Startup Banner (/nologo)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               id="org.eclipse.cdt.dotnet.cl.option.warningLevel"
               isAbstract="false"
               name="Warning Level"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  command="/W0"
                  id="org.eclipse.cdt.dotnet.cl.option.warningLevel.none"
                  isDefault="false"
                  name="Off: Turn Off All Warnings (/W0)"/>
            <enumeratedOptionValue
                  command="/W1"
                  id="org.eclipse.cdt.dotnet.cl.option.warningLevel.1"
                  isDefault="true"
                  name="Level 1 (/W1)"/>
            <enumeratedOptionValue
                  command="/W2"
                  id="org.eclipse.cdt.dotnet.cl.option.warningLevel.2"
                  isDefault="false"
                  name="Level 2 (/W2)"/>
            <enumeratedOptionValue
                  command="/W3"
                  id="org.eclipse.cdt.dotnet.cl.option.warningLevel.2"
                  isDefault="false"
                  name="Level 3 (/W3)"/>
            <enumeratedOptionValue
                  command="/W4"
                  id="org.eclipse.cdt.dotnet.cl.option.warningLevel.4"
                  isDefault="false"
                  name="Level 4 (/W4)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               command="/Wp64"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.warning64bit"
               isAbstract="false"
               name="Detect 64-bit Portability Issues (/Wp64)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.general"
               command="/WX"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.warningAsErrors"
               isAbstract="false"
               name="Treat Warnings As Errors (/WX)"
               resourceFilter="all"
               valueType="boolean"/>
         <optionCategory
               id="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               name="Optimization"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               id="org.eclipse.cdt.dotnet.cl.option.optimization"
               isAbstract="false"
               name="Optimization"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.optimization.default"
                  isDefault="false"
                  name="Custom"/>
            <enumeratedOptionValue
                  command="/Od"
                  id="org.eclipse.cdt.dotnet.cl.option.optimization.default"
                  isDefault="false"
                  name="Disabled (/Od)"/>
            <enumeratedOptionValue
                  command="/O1"
                  id="org.eclipse.cdt.dotnet.cl.option.optimization.1"
                  isDefault="false"
                  name="Minimum Size (/O1)"/>
            <enumeratedOptionValue
                  command="/O2"
                  id="org.eclipse.cdt.dotnet.cl.option.optimization.2"
                  isDefault="true"
                  name="Maximize Speed (/O2)"/>
            <enumeratedOptionValue
                  command="/Ox"
                  id="org.eclipse.cdt.dotnet.cl.option.optimization.full"
                  isDefault="false"
                  name="Full Optimization (/Ox)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               id="org.eclipse.cdt.dotnet.cl.option.inlineExpansion"
               isAbstract="false"
               name="Inline Function Expansion"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.inlineExpansion.none"
                  isDefault="true"
                  name="Default"/>
            <enumeratedOptionValue
                  command="/Ob1"
                  id="org.eclipse.cdt.dotnet.cl.option.inlineExpansion.1"
                  isDefault="false"
                  name="Only __inline (/Ob1)"/>
            <enumeratedOptionValue
                  command="/Ob2"
                  id="org.eclipse.cdt.dotnet.cl.option.inlineExpansion.2"
                  isDefault="false"
                  name="Any suitable (/Ob2)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               command="/Oi"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.enableIntrinsics"
               isAbstract="false"
               name="Enable Intrinsic Functions (/Oi)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               id="org.eclipse.cdt.dotnet.cl.option.sizeOrSpeed"
               isAbstract="false"
               name="Favor Size or Speed"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.sizeOrSpeed.neither"
                  isDefault="true"
                  name="Neither"/>
            <enumeratedOptionValue
                  command="/Ot"
                  id="org.eclipse.cdt.dotnet.cl.option.sizeOrSpeed.fast"
                  isDefault="false"
                  name="Favor Fast Code (/Ot)"/>
            <enumeratedOptionValue
                  command="/Os"
                  id="org.eclipse.cdt.dotnet.cl.option.sizeOrSpeed.fast"
                  isDefault="false"
                  name="Favor Small Code (/Os)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               command="/Oy"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.omitFrames"
               isAbstract="false"
               name="Omit Frame Pointers (/Oy)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               command="/GT"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.fiberSafe"
               isAbstract="false"
               name="Enable Fiber-safe Optimizations (/GT)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.optimization"
               command="/GL"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.wholeProgram"
               isAbstract="false"
               name="Whole Program Optimization (/GL)"
               resourceFilter="all"
               valueType="boolean"/>
         <optionCategory
               id="org.eclipse.cdt.dotnet.cl.optionCategory.preprocessor"
               name="Preprocessor"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.preprocessor"
               command="/D"
               id="org.eclipse.cdt.dotnet.cl.option.preprocessor"
               isAbstract="false"
               name="Preprocessor Definitions"
               resourceFilter="all"
               valueType="definedSymbols"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.preprocessor"
               command="/X"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.ignoreStdInc"
               isAbstract="false"
               name="Ignore Standard Include Path (/X)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.preprocessor"
               id="org.eclipse.cdt.dotnet.cl.option.genPPFile"
               isAbstract="false"
               name="Generate Preprocessed File"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.genPPFile.no"
                  isDefault="true"
                  name="No"/>
            <enumeratedOptionValue
                  command="/P"
                  id="org.eclipse.cdt.dotnet.cl.option.genPPFile.lineno"
                  isDefault="false"
                  name="With Line Numbers (/P)"/>
            <enumeratedOptionValue
                  command="/EP /P"
                  id="org.eclipse.cdt.dotnet.cl.option.genPPFile.nolineno"
                  isDefault="false"
                  name="Without Line Numbers (/EP /P)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.preprocessor"
               command="/C"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.keepComments"
               isAbstract="false"
               name="Keep Comments (/C)"
               resourceFilter="all"
               valueType="boolean"/>
         <optionCategory
               id="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               name="Code Generation"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/GF"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.stringPooling"
               isAbstract="false"
               name="Enable String Pooling (/GF)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/Gm"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.minimalRebuild"
               isAbstract="false"
               name="Enable Minimal Rebuild (/Gm)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/EHsc"
               defaultValue="true"
               id="org.eclipse.cdt.dotnet.cl.option.exceptions"
               isAbstract="false"
               name="Enable C++ Exceptions (/EHsc)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/RTCc"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.smallerTypeCheck"
               isAbstract="false"
               name="Smaller Type Check (/RTCc)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               id="org.eclipse.cdt.dotnet.cl.option.basicRuntimeChecks"
               isAbstract="false"
               name="Basic Runtime Checks"
               resourceFilter="all"
               valueType="includePath">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.basicRuntimeChecks.default"
                  isDefault="true"
                  name="Default"/>
            <enumeratedOptionValue
                  command="/RTCs"
                  id="org.eclipse.cdt.dotnet.cl.option.basicRuntimeChecks.stack"
                  isDefault="false"
                  name="Stack Frames (/RTCs)"/>
            <enumeratedOptionValue
                  command="/RTCu"
                  id="org.eclipse.cdt.dotnet.cl.option.basicRuntimeChecks.uninit"
                  isDefault="false"
                  name="Unitialized Variables (/RTCu)"/>
            <enumeratedOptionValue
                  command="/RTC1"
                  id="org.eclipse.cdt.dotnet.cl.option.basicRuntimeChecks.both"
                  isDefault="false"
                  name="Both (/RTC1)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               id="org.eclipse.cdt.dotnet.cl.option.runtime"
               isAbstract="false"
               name="Runtime Library"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  command="/MT"
                  id="org.eclipse.cdt.dotnet.cl.option.runtime.mt"
                  isDefault="true"
                  name="Multi-threaded (/MT)"/>
            <enumeratedOptionValue
                  command="/MTd"
                  id="org.eclipse.cdt.dotnet.cl.option.runtime.mtd"
                  isDefault="false"
                  name="Multi-threaded Debug (/MTd)"/>
            <enumeratedOptionValue
                  command="/MD"
                  id="org.eclipse.cdt.dotnet.cl.option.runtime.md"
                  isDefault="false"
                  name="Multi-threaded DLL (/MD)"/>
            <enumeratedOptionValue
                  command="/MDd"
                  id="org.eclipse.cdt.dotnet.cl.option.runtime.mtdd"
                  isDefault="false"
                  name="Multi-threaded DLL Debug (/MDd)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               id="org.eclipse.cdt.dotnet.cl.option.alignment"
               isAbstract="false"
               name="Struct Member Alignment"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.alignment.default"
                  isDefault="true"
                  name="Default"/>
            <enumeratedOptionValue
                  command="/Zp1"
                  id="org.eclipse.cdt.dotnet.cl.option.alignment.1"
                  isDefault="false"
                  name="1 byte (/Zp1)"/>
            <enumeratedOptionValue
                  command="/Zp2"
                  id="org.eclipse.cdt.dotnet.cl.option.alignment.2"
                  isDefault="false"
                  name="2 byte (/Zp2)"/>
            <enumeratedOptionValue
                  command="/Zp4"
                  id="org.eclipse.cdt.dotnet.cl.option.alignment.4"
                  isDefault="false"
                  name="4 byte (/Zp4)"/>
            <enumeratedOptionValue
                  command="/Zp8"
                  id="org.eclipse.cdt.dotnet.cl.option.alignment.8"
                  isDefault="false"
                  name="8 byte (/Zp8)"/>
            <enumeratedOptionValue
                  command="/Zp16"
                  id="org.eclipse.cdt.dotnet.cl.option.alignment.16"
                  isDefault="false"
                  name="16 byte (/Zp16)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/GS-"
               defaultValue="true"
               id="org.eclipse.cdt.dotnet.cl.option.bufferOverrun"
               isAbstract="false"
               name="Buffer Security Check (/GS-)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/Gy"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.funcLinking"
               isAbstract="false"
               name="Enable Function-Level Linking (/Gy)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               id="org.eclipse.cdt.dotnet.cl.option.sse"
               isAbstract="false"
               name="Enable Enhanced Instruction Set"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.dotnet.cl.option.sse.none"
                  isDefault="true"
                  name="Not Set"/>
            <enumeratedOptionValue
                  command="/arch:SSE"
                  id="org.eclipse.cdt.dotnet.cl.option.sse.sse"
                  isDefault="false"
                  name="Streaming SIMD Extensions (/arch:SSE)"/>
            <enumeratedOptionValue
                  command="/arch:SSE2"
                  id="org.eclipse.cdt.dotnet.cl.option.sse.sse2"
                  isDefault="false"
                  name="Streaming SIMD Extensions 2 (/arch:SSE2)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               id="org.eclipse.cdt.dotnet.cl.option.floatingPoint"
               isAbstract="false"
               name="Floating Point Model"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  command="/fp:precise"
                  id="org.eclipse.cdt.dotnet.cl.option.floatingPoint.precise"
                  isDefault="true"
                  name="Presize (/fp:precise)"/>
            <enumeratedOptionValue
                  command="/fp:strict"
                  id="org.eclipse.cdt.dotnet.cl.option.floatingPoint.strict"
                  isDefault="false"
                  name="Strict (/fp:strict)"/>
            <enumeratedOptionValue
                  command="/fp:fast"
                  id="org.eclipse.cdt.dotnet.cl.option.floatingPoint.fast"
                  isDefault="false"
                  name="Fast (/fp:fast)"/>
         </option>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.codeGeneration"
               command="/fp:except"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.fpExceptions"
               isAbstract="false"
               name="Enable Floating Point Exceptions (/fp:except)"
               resourceFilter="all"
               valueType="boolean"/>
         <optionCategory
               id="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               name="Language"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               command="/Za"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.langExtensions"
               isAbstract="false"
               name="Disable Language Extensions (/Za)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               command="/J"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.charUnsigned"
               isAbstract="false"
               name="Default Char Unsigned (/J)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               commandFalse="/Zc:wchar_t-"
               defaultValue="true"
               id="org.eclipse.cdt.dotnet.cl.option.wchar_t"
               isAbstract="false"
               name="Treat wchar_t as Built-in Type (/Zc:wchar_t)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               commandFalse="/Zc:forScope-"
               defaultValue="true"
               id="org.eclipse.cdt.dotnet.cl.option.forLoopScope"
               isAbstract="false"
               name="Force Conformance In For Loop Scope (/Zc:forScope)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               commandFalse="/GR-"
               defaultValue="true"
               id="org.eclipse.cdt.dotnet.cl.option.rtti"
               isAbstract="false"
               name="Enable Run-Time Type Info (/GS)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.eclipse.cdt.dotnet.cl.optionCategory.language"
               command="/openmp"
               defaultValue="false"
               id="org.eclipse.cdt.dotnet.cl.option.openmp"
               isAbstract="false"
               name="OpenMP Support (/openmp)"
               resourceFilter="all"
               valueType="boolean"/>
      </tool>
      <tool
            command="link"
            id="org.eclipse.cdt.dotnet.link"
            isAbstract="false"
            name="LINK Linker"
            natureFilter="both"
            outputFlag="/OUT:"
            sources="obj">
      </tool>
      <tool
            id="org.eclipse.cdt.dotnet.link.exe"
            isAbstract="false"
            name="LINK Executable Linker"
            natureFilter="both"
            outputs="exe"
            superClass="org.eclipse.cdt.dotnet.link">
      </tool>
      <projectType
            id="org.eclipse.cdt.dotnet.projectType.exe"
            isAbstract="false"
            name="C++.Net Executable">
         <configuration
               artifactExtension="exe"
               id="org.eclipse.cdt.dotnet.exe.debug"
               name="Debug">
            <toolChain
                  id="org.eclipse.cdt.dotnet.exe.debug.toolChain"
                  isAbstract="false">
               <targetPlatform
                     archList="all"
                     binaryParser="org.eclipse.cdt.core.PE"
                     id="org.eclipse.cdt.dotnet.exe.debug.targetPlatform"
                     isAbstract="false"
                     osList="win32"/>
               <tool
                     id="org.eclipse.cdt.dotnet.exe.debug.compiler"
                     isAbstract="false"
                     superClass="org.eclipse.cdt.dotnet.cl"/>
               <tool
                     id="org.eclipse.cdt.dotnet.exe.debug.linker"
                     isAbstract="false"
                     superClass="org.eclipse.cdt.dotnet.link.exe"/>
            </toolChain>
         </configuration>
      </projectType>
   </extension>

</plugin>
